<main class="min-h-[40vh]">


    <!-- HOME -->
    <section class="landinpage">
        <!-- Banner -->
        <div class="bg-top">
            <div class="grid md:grid-cols-2 items-center md:gap-6 gap-3">
                <img src="assets/images/banner-top.png" alt="Banner 1" class="w-full" />
                <div class=" w-full md:order-none -order-1">
                    <div class="text-center flex justify-start">
                        <div class="box space-y-3">
                            <img src="assets/images/Logo2.png" alt="Banner 1" class="mx-auto md:max-w-none max-w-[200px]" />
                            <h1 class="md:text-4xl text-2xl font-bold">Sàn bán lẻ trực tuyến </h1>
                            <h2 class="md:text-3xl  text-2xl font-bold">
                                sản phẩm <span class="text-purple-500">
                                    chính
                                    hãng
                                </span> & <span class="text-[#FF4169]">
                                    có kiểm
                                    định
                                </span>
                            </h2>
                            <p class="text-xl">Kết nối sản phẩm chất lượng từ NCC đến người tiêu dùng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tamnhin bg-black text-white px-4 py-6 md:px-16 md:py-10 lg:bg-[url(assets/images/layer_1.svg)] bg-contain bg-no-repeat">
            <div class="max-w-[1230px] mx-auto my-4 px-[15px]">
                <div class="grid md:grid-cols-2 gap-6">
                    <div>
                        <h3 class="font-bold text-lg mb-2 flex gap-3 items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                                <path opacity="0.2"
                                      d="M20 8.75C7.5 8.75 2.5 20 2.5 20C2.5 20 7.5 31.25 20 31.25C32.5 31.25 37.5 20 37.5 20C37.5 20 32.5 8.75 20 8.75ZM20 26.25C18.7639 26.25 17.5555 25.8834 16.5277 25.1967C15.4999 24.5099 14.6988 23.5338 14.2258 22.3918C13.7527 21.2497 13.6289 19.9931 13.8701 18.7807C14.1112 17.5683 14.7065 16.4547 15.5806 15.5806C16.4547 14.7065 17.5683 14.1112 18.7807 13.8701C19.9931 13.6289 21.2497 13.7527 22.3918 14.2258C23.5338 14.6988 24.5099 15.4999 25.1967 16.5277C25.8834 17.5555 26.25 18.7639 26.25 20C26.25 21.6576 25.5915 23.2473 24.4194 24.4194C23.2473 25.5915 21.6576 26.25 20 26.25Z"
                                      fill="#FF7B97" />
                                <path d="M38.6422 19.4938C38.5875 19.3703 37.2641 16.4344 34.3219 13.4922C30.4016 9.57187 25.45 7.5 20 7.5C14.55 7.5 9.59842 9.57187 5.67811 13.4922C2.73592 16.4344 1.40624 19.375 1.3578 19.4938C1.28672 19.6536 1.25 19.8266 1.25 20.0016C1.25 20.1765 1.28672 20.3495 1.3578 20.5094C1.41249 20.6328 2.73592 23.5672 5.67811 26.5094C9.59842 30.4281 14.55 32.5 20 32.5C25.45 32.5 30.4016 30.4281 34.3219 26.5094C37.2641 23.5672 38.5875 20.6328 38.6422 20.5094C38.7132 20.3495 38.75 20.1765 38.75 20.0016C38.75 19.8266 38.7132 19.6536 38.6422 19.4938ZM20 30C15.1906 30 10.989 28.2516 7.51092 24.8047C6.08381 23.3855 4.86965 21.7671 3.90624 20C4.86939 18.2327 6.08357 16.6143 7.51092 15.1953C10.989 11.7484 15.1906 10 20 10C24.8094 10 29.0109 11.7484 32.489 15.1953C33.9189 16.614 35.1358 18.2324 36.1016 20C34.975 22.1031 30.0672 30 20 30ZM20 12.5C18.5166 12.5 17.0666 12.9399 15.8332 13.764C14.5998 14.5881 13.6385 15.7594 13.0709 17.1299C12.5032 18.5003 12.3547 20.0083 12.6441 21.4632C12.9335 22.918 13.6478 24.2544 14.6967 25.3033C15.7456 26.3522 17.082 27.0665 18.5368 27.3559C19.9917 27.6453 21.4997 27.4968 22.8701 26.9291C24.2406 26.3614 25.4119 25.4001 26.236 24.1668C27.0601 22.9334 27.5 21.4834 27.5 20C27.4979 18.0115 26.7071 16.1051 25.301 14.699C23.8949 13.2929 21.9885 12.5021 20 12.5ZM20 25C19.0111 25 18.0444 24.7068 17.2221 24.1573C16.3999 23.6079 15.759 22.827 15.3806 21.9134C15.0022 20.9998 14.9031 19.9945 15.0961 19.0245C15.289 18.0546 15.7652 17.1637 16.4645 16.4645C17.1637 15.7652 18.0546 15.289 19.0245 15.0961C19.9944 14.9031 20.9998 15.0022 21.9134 15.3806C22.827 15.759 23.6079 16.3999 24.1573 17.2221C24.7067 18.0444 25 19.0111 25 20C25 21.3261 24.4732 22.5979 23.5355 23.5355C22.5978 24.4732 21.3261 25 20 25Z"
                                      fill="#FF7B97" />
                            </svg> Tầm nhìn
                        </h3>
                        <p>
                            Trở thành <span class="text-[#FF4169] font-semibold">
                                nền tảng TMĐT thế hệ mới đáng tin cậy nhất
                                Việt
                                Nam
                            </span>, phân phối – bán lẻ các sản phẩm chăm sóc – bảo vệ sức khoẻ & làm đẹp
                        </p>
                    </div>
                    <div>
                        <h3 class="font-bold text-lg mb-2 flex items-center gap-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                                <path opacity="0.2"
                                      d="M27.5 20C27.5 21.4834 27.0601 22.9334 26.236 24.1668C25.4119 25.4001 24.2406 26.3614 22.8701 26.9291C21.4997 27.4968 19.9917 27.6453 18.5368 27.3559C17.082 27.0665 15.7456 26.3522 14.6967 25.3033C13.6478 24.2544 12.9335 22.918 12.6441 21.4632C12.3547 20.0083 12.5032 18.5003 13.0709 17.1299C13.6386 15.7594 14.5999 14.5881 15.8332 13.764C17.0666 12.9399 18.5166 12.5 20 12.5C21.9891 12.5 23.8968 13.2902 25.3033 14.6967C26.7098 16.1032 27.5 18.0109 27.5 20Z"
                                      fill="#FF7B97" />
                                <path d="M34.6672 12.9938C36.4018 16.6216 36.7311 20.7633 35.5915 24.6196C34.452 28.476 31.9243 31.7735 28.4965 33.8758C25.0686 35.9781 20.9836 36.7361 17.0297 36.0036C13.0758 35.2711 9.53338 33.0999 7.08615 29.9092C4.63891 26.7184 3.46033 22.7343 3.77787 18.7257C4.09541 14.7171 5.88656 10.9682 8.80563 8.20251C11.7247 5.43686 15.5647 3.85051 19.5847 3.74963C23.6046 3.64875 27.5193 5.0405 30.5735 7.65626L34.1156 4.11251C34.3502 3.87796 34.6683 3.74619 35 3.74619C35.3317 3.74619 35.6498 3.87796 35.8844 4.11251C36.1189 4.34706 36.2507 4.66518 36.2507 4.99689C36.2507 5.32859 36.1189 5.64671 35.8844 5.88126L20.8844 20.8813C20.6498 21.1158 20.3317 21.2476 20 21.2476C19.6683 21.2476 19.3502 21.1158 19.1156 20.8813C18.8811 20.6467 18.7493 20.3286 18.7493 19.9969C18.7493 19.6652 18.8811 19.3471 19.1156 19.1125L23.4469 14.7813C22.2731 14.0049 20.8716 13.6475 19.4693 13.7668C18.0671 13.8861 16.7462 14.4752 15.7204 15.4386C14.6945 16.4021 14.0239 17.6836 13.8171 19.0756C13.6102 20.4676 13.8792 21.8887 14.5805 23.1089C15.2818 24.329 16.3744 25.2767 17.6813 25.7986C18.9883 26.3205 20.4332 26.3861 21.782 25.9846C23.1309 25.5832 24.3047 24.7383 25.1136 23.5867C25.9225 22.435 26.3191 21.0441 26.2391 19.6391C26.2298 19.4749 26.253 19.3106 26.3073 19.1554C26.3616 19.0002 26.4459 18.8572 26.5555 18.7346C26.665 18.612 26.7976 18.5122 26.9458 18.4408C27.0939 18.3695 27.2546 18.328 27.4188 18.3188C27.7503 18.3001 28.0756 18.4139 28.3232 18.6352C28.4458 18.7447 28.5457 18.8773 28.617 19.0254C28.6884 19.1736 28.7298 19.3343 28.7391 19.4984C28.853 21.4872 28.285 23.4552 27.1289 25.0774C25.9728 26.6995 24.2978 27.8787 22.3807 28.4199C20.4637 28.9611 18.4194 28.832 16.5856 28.0539C14.7519 27.2758 13.2385 25.8954 12.2957 24.1407C11.3528 22.386 11.0369 20.3621 11.4001 18.4035C11.7633 16.4449 12.784 14.6689 14.2934 13.369C15.8027 12.069 17.7105 11.323 19.7012 11.2542C21.692 11.1855 23.6467 11.798 25.2422 12.9906L28.7969 9.43595C26.1919 7.27313 22.8797 6.14901 19.4964 6.2795C16.113 6.40999 12.8972 7.78589 10.4666 10.1429C8.03589 12.5 6.56175 15.6719 6.32727 19.0496C6.0928 22.4273 7.11452 25.7726 9.1962 28.4429C11.2779 31.1131 14.2727 32.9202 17.6056 33.5169C20.9384 34.1136 24.3742 33.4579 27.253 31.6758C30.1319 29.8936 32.2508 27.1107 33.2028 23.8615C34.1548 20.6123 33.8728 17.1259 32.411 14.0719C32.268 13.7727 32.2497 13.429 32.3602 13.1163C32.4707 12.8036 32.7008 12.5477 33 12.4047C33.2992 12.2617 33.643 12.2435 33.9556 12.3539C34.2683 12.4644 34.5242 12.6946 34.6672 12.9938Z"
                                      fill="#FF7B97" />
                            </svg> Sứ mệnh
                        </h3>
                        <p>
                            Kết nối trực tiếp nhà sản xuất và người tiêu dùng, <span class="text-[#FF4169] font-semibold">
                                mang
                                sản
                                phẩm chính hãng, chất lượng cao tới mọi người
                            </span>.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="giatricotloi bg-[url(assets/images/bg-giatri.jpg)] bg-no-repeat bg-cover text-black px-4 py-10 md:px-16">
            <div class="max-w-[1230px] mx-auto my-4 px-[15px]">
                <h2 class="text-center text-2xl md:text-4xl font-bold mb-10">Giá trị cốt lõi</h2>
                <div class="flex justify-center gap-y-6 flex-wrap text-center">
                    <div class="flex flex-col items-center md:w-1/3">
                        <div class="bg-white rounded-[99px] w-33 h-40 pt-3 text-center mb-4">
                            <img src="assets/images/gt1.png" alt="Phụng sự" class="mx-auto w-20 h-20 rounded-full" />
                            <h4 class="font-semibold md:text-2xl text-md mt-3">Phụng sự</h4>
                        </div>
                        <p class=" mt-1">
                            Lấy tinh thần phụng sự cộng đồng,<br /> kết nối người tiêu dùng <br />với sản phẩm
                            chính
                            hãng, minh bạch
                        </p>
                    </div>
                    <div class="flex flex-col items-center md:w-1/3">
                        <div class="bg-white rounded-[99px] w-33 h-40 pt-3 text-center mb-4">
                            <img src="assets/images/gt2.png" alt="Tử tế" class="mx-auto w-20 h-20 rounded-full" />
                            <h4 class="font-semibold md:text-2xl text-md mt-3">Tử tế</h4>
                        </div>
                        <p class="text-sm mt-1">Lấy sự chân thành<br /> và trung thực làm gốc</p>
                    </div>

                    <div class="flex flex-col items-center md:w-1/3">
                        <div class="bg-white rounded-[99px] w-33 h-40 pt-3 text-center mb-4">
                            <img src="assets/images/gt3.png" alt="Tin cậy" class="mx-auto w-20 h-20 rounded-full" />
                            <h4 class="font-semibold md:text-2xl text-md mt-3">Tin cậy</h4>
                        </div>
                        <p class="text-sm mt-1">Tạo dựng niềm tin từ chất lượng <br />và hành vi nhất quán</p>
                    </div>

                    <div class="flex flex-col items-center md:w-1/3">
                        <div class="bg-white rounded-[99px] w-33 h-40 pt-3 text-center mb-4">
                            <img src="assets/images/gt4.png" alt="Minh bạch" class="mx-auto w-20 h-20 rounded-full" />
                            <h4 class="font-semibold md:text-2xl text-md mt-3">Minh bạch </h4>
                        </div>
                        <p class="text-sm mt-1">Rõ ràng trong quy trình, <br />sản phẩm, hóa đơn, chính sách</p>
                    </div>

                    <div class="flex flex-col items-center md:w-1/3">
                        <div class="bg-white rounded-[99px] w-33 h-40 pt-3 text-center mb-4">
                            <img src="assets/images/gt5.png" alt="Hành động " class="mx-auto w-20 h-20 rounded-full" />
                            <h4 class="font-semibold md:text-2xl text-md mt-3">Hành động </h4>
                        </div>
                        <p class="text-sm mt-1">Không chỉ truyền cảm hứng,<br /> mà hành động thật để xã hội tốt đẹp hơn</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="trietly">
            <picture>
                <source media="(min-width:768px)" srcset="assets/images/trietly-pc.jpg">
                <source media="(max-width:767px)" srcset="assets/images/trietly-mb.jpg">
                <img src="assets/images/trietly-pc.jpg" alt="Triết lý Minh bạch" class="w-full block">
            </picture>
        </div>
        <div class="bg-top">
            <div class="grid md:grid-cols-2 items-center md:gap-6 gap-3">
                <div class="max-w-[1230px] mx-auto my-4 px-[15px]">
                    <div class="flex justify-start">
                        <div class="box space-y-3">
                            <p>Chúng tôi hiểu bạn<span class="text-[#FF4169]"> từng thất vọng</span> khi mua hàng.</p>
                            <h2 class="md:text-3xl  text-2xl font-bold">Khi hàng giả, hàng nhái tràn lan</h2>
                            <h4 class="text-xl text-[#FF4169]">Nơi đâu có thể khiến người dùng an tâm mua sắm?</h4>
                        </div>
                    </div>
                </div>
                <picture>
                    <source media="(min-width:768px)" srcset="assets/images/baochi.png">
                    <source media="(max-width:767px)" srcset="assets/images/baochi-mb.png">
                    <img src="assets/images/baochi.png" alt="Triết lý Minh bạch" class="w-full block">
                </picture>
            </div>
        </div>
        <div class="max-w-[1230px] mx-auto md:my-12 my-6  px-[15px]">
            <div class="bg-top  my-6 md:my-10  md:rounded-3xl rounded-xl shadow overflow-hidden">
                <div class="grid md:grid-cols-2 items-center md:gap-6 gap-3">
                    <img src="assets/images/about.png" alt="Banner 1" class="w-full" />
                    <div class=" w-full md:order-none -order-1">
                        <div class="flex justify-start">
                            <div class="box space-y-3 md:pr-6 p-4">
                                <div class="flex-1">
                                    <p class="mb-2">Và thế là,</p>
                                    <h2 class="text-2xl md:text-4xl font-bold mb-4 text-black">Best Mall ra đời</h2>
                                    <p class="mb-4">
                                        Best Mall là nền tảng thương mại điện tử riêng biệt cho các sản phẩm trong lĩnh
                                        vực:
                                    </p>
                                    <ul class="space-y-2 font-medium">
                                        <li class="flex items-start gap-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
                                                 viewBox="0 0 24 25" fill="none">
                                                <path d="M21.9646 11.2672L17.7459 14.9075L19.0312 20.3515C19.1021 20.6471 19.0838 20.957 18.9787 21.2421C18.8736 21.5273 18.6863 21.7749 18.4405 21.9537C18.1947 22.1324 17.9015 22.2344 17.5978 22.2466C17.2941 22.2587 16.9936 22.1807 16.7343 22.0222L11.9999 19.1084L7.26275 22.0222C7.00347 22.1797 6.70335 22.2571 6.4002 22.2444C6.09704 22.2318 5.8044 22.1298 5.55913 21.9511C5.31386 21.7725 5.12692 21.5253 5.02185 21.2407C4.91679 20.956 4.89829 20.6467 4.96869 20.3515L6.25869 14.9075L2.03994 11.2672C1.81053 11.0689 1.64462 10.8074 1.56293 10.5154C1.48123 10.2234 1.48737 9.91382 1.58058 9.62528C1.67379 9.33675 1.84994 9.08207 2.08703 8.89305C2.32412 8.70404 2.61164 8.58905 2.91369 8.56247L8.44494 8.11622L10.5787 2.95247C10.6942 2.67105 10.8908 2.43033 11.1434 2.26091C11.3961 2.0915 11.6934 2.00104 11.9976 2.00104C12.3018 2.00104 12.5991 2.0915 12.8518 2.26091C13.1044 2.43033 13.301 2.67105 13.4165 2.95247L15.5493 8.11622L21.0806 8.56247C21.3832 8.58807 21.6716 8.7024 21.9095 8.89116C22.1475 9.07992 22.3244 9.3347 22.4182 9.62358C22.512 9.91247 22.5185 10.2226 22.4368 10.5151C22.3551 10.8077 22.1889 11.0696 21.959 11.2681L21.9646 11.2672Z"
                                                      fill="#FF4169" />
                                            </svg>
                                            Bảo vệ sức khoẻ
                                        </li>
                                        <li class="flex items-start gap-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
                                                 viewBox="0 0 24 25" fill="none">
                                                <path d="M21.9646 11.2672L17.7459 14.9075L19.0312 20.3515C19.1021 20.6471 19.0838 20.957 18.9787 21.2421C18.8736 21.5273 18.6863 21.7749 18.4405 21.9537C18.1947 22.1324 17.9015 22.2344 17.5978 22.2466C17.2941 22.2587 16.9936 22.1807 16.7343 22.0222L11.9999 19.1084L7.26275 22.0222C7.00347 22.1797 6.70335 22.2571 6.4002 22.2444C6.09704 22.2318 5.8044 22.1298 5.55913 21.9511C5.31386 21.7725 5.12692 21.5253 5.02185 21.2407C4.91679 20.956 4.89829 20.6467 4.96869 20.3515L6.25869 14.9075L2.03994 11.2672C1.81053 11.0689 1.64462 10.8074 1.56293 10.5154C1.48123 10.2234 1.48737 9.91382 1.58058 9.62528C1.67379 9.33675 1.84994 9.08207 2.08703 8.89305C2.32412 8.70404 2.61164 8.58905 2.91369 8.56247L8.44494 8.11622L10.5787 2.95247C10.6942 2.67105 10.8908 2.43033 11.1434 2.26091C11.3961 2.0915 11.6934 2.00104 11.9976 2.00104C12.3018 2.00104 12.5991 2.0915 12.8518 2.26091C13.1044 2.43033 13.301 2.67105 13.4165 2.95247L15.5493 8.11622L21.0806 8.56247C21.3832 8.58807 21.6716 8.7024 21.9095 8.89116C22.1475 9.07992 22.3244 9.3347 22.4182 9.62358C22.512 9.91247 22.5185 10.2226 22.4368 10.5151C22.3551 10.8077 22.1889 11.0696 21.959 11.2681L21.9646 11.2672Z"
                                                      fill="#FF4169" />
                                            </svg>
                                            Thực phẩm chức năng
                                        </li>
                                        <li class="flex items-start gap-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
                                                 viewBox="0 0 24 25" fill="none">
                                                <path d="M21.9646 11.2672L17.7459 14.9075L19.0312 20.3515C19.1021 20.6471 19.0838 20.957 18.9787 21.2421C18.8736 21.5273 18.6863 21.7749 18.4405 21.9537C18.1947 22.1324 17.9015 22.2344 17.5978 22.2466C17.2941 22.2587 16.9936 22.1807 16.7343 22.0222L11.9999 19.1084L7.26275 22.0222C7.00347 22.1797 6.70335 22.2571 6.4002 22.2444C6.09704 22.2318 5.8044 22.1298 5.55913 21.9511C5.31386 21.7725 5.12692 21.5253 5.02185 21.2407C4.91679 20.956 4.89829 20.6467 4.96869 20.3515L6.25869 14.9075L2.03994 11.2672C1.81053 11.0689 1.64462 10.8074 1.56293 10.5154C1.48123 10.2234 1.48737 9.91382 1.58058 9.62528C1.67379 9.33675 1.84994 9.08207 2.08703 8.89305C2.32412 8.70404 2.61164 8.58905 2.91369 8.56247L8.44494 8.11622L10.5787 2.95247C10.6942 2.67105 10.8908 2.43033 11.1434 2.26091C11.3961 2.0915 11.6934 2.00104 11.9976 2.00104C12.3018 2.00104 12.5991 2.0915 12.8518 2.26091C13.1044 2.43033 13.301 2.67105 13.4165 2.95247L15.5493 8.11622L21.0806 8.56247C21.3832 8.58807 21.6716 8.7024 21.9095 8.89116C22.1475 9.07992 22.3244 9.3347 22.4182 9.62358C22.512 9.91247 22.5185 10.2226 22.4368 10.5151C22.3551 10.8077 22.1889 11.0696 21.959 11.2681L21.9646 11.2672Z"
                                                      fill="#FF4169" />
                                            </svg>
                                            Chăm sóc sắc đẹp
                                        </li>
                                        <li class="flex items-start gap-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
                                                 viewBox="0 0 24 25" fill="none">
                                                <path d="M21.9646 11.2672L17.7459 14.9075L19.0312 20.3515C19.1021 20.6471 19.0838 20.957 18.9787 21.2421C18.8736 21.5273 18.6863 21.7749 18.4405 21.9537C18.1947 22.1324 17.9015 22.2344 17.5978 22.2466C17.2941 22.2587 16.9936 22.1807 16.7343 22.0222L11.9999 19.1084L7.26275 22.0222C7.00347 22.1797 6.70335 22.2571 6.4002 22.2444C6.09704 22.2318 5.8044 22.1298 5.55913 21.9511C5.31386 21.7725 5.12692 21.5253 5.02185 21.2407C4.91679 20.956 4.89829 20.6467 4.96869 20.3515L6.25869 14.9075L2.03994 11.2672C1.81053 11.0689 1.64462 10.8074 1.56293 10.5154C1.48123 10.2234 1.48737 9.91382 1.58058 9.62528C1.67379 9.33675 1.84994 9.08207 2.08703 8.89305C2.32412 8.70404 2.61164 8.58905 2.91369 8.56247L8.44494 8.11622L10.5787 2.95247C10.6942 2.67105 10.8908 2.43033 11.1434 2.26091C11.3961 2.0915 11.6934 2.00104 11.9976 2.00104C12.3018 2.00104 12.5991 2.0915 12.8518 2.26091C13.1044 2.43033 13.301 2.67105 13.4165 2.95247L15.5493 8.11622L21.0806 8.56247C21.3832 8.58807 21.6716 8.7024 21.9095 8.89116C22.1475 9.07992 22.3244 9.3347 22.4182 9.62358C22.512 9.91247 22.5185 10.2226 22.4368 10.5151C22.3551 10.8077 22.1889 11.0696 21.959 11.2681L21.9646 11.2672Z"
                                                      fill="#FF4169" />
                                            </svg>
                                            Hàng tiêu dùng chất lượng cao
                                        </li>
                                    </ul>
                                    <p class=" mt-6">
                                        Chúng tôi cam kết kết nối trực tiếp với nhà sản xuất uy tín, có nguồn gốc rõ
                                        ràng, được chứng nhận đầy đủ theo tiêu chuẩn kiểm định và đem đến trải nghiệm
                                        mua sắm minh bạch, an toàn và chất lượng cho người tiêu dùng.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tamnhin bg-black text-white px-4 py-6 md:px-16 md:py-10 lg:bg-[url(assets/images/layer_1.svg)] bg-contain bg-no-repeat">
            <div class="max-w-[1230px] mx-auto my-4 px-[15px]">
                <h4 class="font-semibold md:text-2xl text-[#FF4169]">
                    Một cộng đồng mua sắm tử tế
                    nơi hàng triệu người cùng nhau lan tỏa giá trị sống tốt đẹp hơn
                </h4>
            </div>
        </div>
        <div class="banchay">
            <picture>
                <source media="(min-width:768px)" srcset="assets/images/banchay.png">
                <source media="(max-width:767px)" srcset="assets/images/banchay-mb.png">
                <img src="assets/images/banchay.png" alt="Triết lý Minh bạch" class="w-full block">
            </picture>
        </div>
        <div class="max-w-[1230px] mx-auto md:my-12 my-6 px-[15px]">
            <div class="max-w-xl mx-auto text-center mb-10">
                <h2 class="text-2xl md:text-4xl font-bold mb-4">Tại sao chọn Best Mall</h2>
                <p class="text-[#FF4169] md:text-lg">
                    Tuyệt đối bảo vệ người tiêu dùng và thương hiệu
                    trước vấn nạn hàng giả, hàng nhái, hàng kém chất lượng ngày nay.
                </p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <div class="bg-top rounded-3xl overflow-hidden px-6 pt-6 pb-12 shadow-xl relative">
                    <img src="assets/images/Isolation_Mode.svg" class="absolute bottom-0 left-0" alt="">
                    <div class="relative">
                        <h3 class="text-xl font-semibold mb-4">Lợi thế Best Mall</h3>
                        <ul class="space-y-2 font-medium">
                            <li class="flex items-start gap-2">
                                <svg class="shrink-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24" fill="none">
                                    <path d="M21.9646 10.7671L17.7459 14.4074L19.0312 19.8515C19.1021 20.147 19.0838 20.4569 18.9787 20.7421C18.8736 21.0272 18.6863 21.2748 18.4405 21.4536C18.1947 21.6324 17.9015 21.7343 17.5978 21.7465C17.2941 21.7587 16.9936 21.6806 16.7343 21.5221L11.9999 18.6083L7.26275 21.5221C7.00347 21.6797 6.70335 21.757 6.4002 21.7444C6.09704 21.7318 5.8044 21.6297 5.55913 21.4511C5.31386 21.2725 5.12692 21.0253 5.02185 20.7406C4.91679 20.456 4.89829 20.1466 4.96869 19.8515L6.25869 14.4074L2.03994 10.7671C1.81053 10.5688 1.64462 10.3074 1.56293 10.0154C1.48123 9.72336 1.48737 9.41376 1.58058 9.12522C1.67379 8.83669 1.84994 8.58201 2.08703 8.39299C2.32412 8.20397 2.61164 8.08899 2.91369 8.06241L8.44494 7.61616L10.5787 2.45241C10.6942 2.17099 10.8908 1.93027 11.1434 1.76085C11.3961 1.59143 11.6934 1.50098 11.9976 1.50098C12.3018 1.50098 12.5991 1.59143 12.8518 1.76085C13.1044 1.93027 13.301 2.17099 13.4165 2.45241L15.5493 7.61616L21.0806 8.06241C21.3832 8.088 21.6716 8.20234 21.9095 8.3911C22.1475 8.57986 22.3244 8.83464 22.4182 9.12352C22.512 9.41241 22.5185 9.72254 22.4368 10.0151C22.3551 10.3076 22.1889 10.5695 21.959 10.768L21.9646 10.7671Z"
                                          fill="#FF4169" />
                                </svg>
                                Tập trung bán hàng thương hiệu có kiểm định
                            </li>
                            <li class="flex items-start gap-2">
                                <svg class="shrink-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24" fill="none">
                                    <path d="M21.9646 10.7671L17.7459 14.4074L19.0312 19.8515C19.1021 20.147 19.0838 20.4569 18.9787 20.7421C18.8736 21.0272 18.6863 21.2748 18.4405 21.4536C18.1947 21.6324 17.9015 21.7343 17.5978 21.7465C17.2941 21.7587 16.9936 21.6806 16.7343 21.5221L11.9999 18.6083L7.26275 21.5221C7.00347 21.6797 6.70335 21.757 6.4002 21.7444C6.09704 21.7318 5.8044 21.6297 5.55913 21.4511C5.31386 21.2725 5.12692 21.0253 5.02185 20.7406C4.91679 20.456 4.89829 20.1466 4.96869 19.8515L6.25869 14.4074L2.03994 10.7671C1.81053 10.5688 1.64462 10.3074 1.56293 10.0154C1.48123 9.72336 1.48737 9.41376 1.58058 9.12522C1.67379 8.83669 1.84994 8.58201 2.08703 8.39299C2.32412 8.20397 2.61164 8.08899 2.91369 8.06241L8.44494 7.61616L10.5787 2.45241C10.6942 2.17099 10.8908 1.93027 11.1434 1.76085C11.3961 1.59143 11.6934 1.50098 11.9976 1.50098C12.3018 1.50098 12.5991 1.59143 12.8518 1.76085C13.1044 1.93027 13.301 2.17099 13.4165 2.45241L15.5493 7.61616L21.0806 8.06241C21.3832 8.088 21.6716 8.20234 21.9095 8.3911C22.1475 8.57986 22.3244 8.83464 22.4182 9.12352C22.512 9.41241 22.5185 9.72254 22.4368 10.0151C22.3551 10.3076 22.1889 10.5695 21.959 10.768L21.9646 10.7671Z"
                                          fill="#FF4169" />
                                </svg>
                                Best Mall chọn lọc nhà cung cấp, không mở gian hàng đại trà
                            </li>
                            <li class="flex items-start gap-2">
                                <svg class="shrink-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24" fill="none">
                                    <path d="M21.9646 10.7671L17.7459 14.4074L19.0312 19.8515C19.1021 20.147 19.0838 20.4569 18.9787 20.7421C18.8736 21.0272 18.6863 21.2748 18.4405 21.4536C18.1947 21.6324 17.9015 21.7343 17.5978 21.7465C17.2941 21.7587 16.9936 21.6806 16.7343 21.5221L11.9999 18.6083L7.26275 21.5221C7.00347 21.6797 6.70335 21.757 6.4002 21.7444C6.09704 21.7318 5.8044 21.6297 5.55913 21.4511C5.31386 21.2725 5.12692 21.0253 5.02185 20.7406C4.91679 20.456 4.89829 20.1466 4.96869 19.8515L6.25869 14.4074L2.03994 10.7671C1.81053 10.5688 1.64462 10.3074 1.56293 10.0154C1.48123 9.72336 1.48737 9.41376 1.58058 9.12522C1.67379 8.83669 1.84994 8.58201 2.08703 8.39299C2.32412 8.20397 2.61164 8.08899 2.91369 8.06241L8.44494 7.61616L10.5787 2.45241C10.6942 2.17099 10.8908 1.93027 11.1434 1.76085C11.3961 1.59143 11.6934 1.50098 11.9976 1.50098C12.3018 1.50098 12.5991 1.59143 12.8518 1.76085C13.1044 1.93027 13.301 2.17099 13.4165 2.45241L15.5493 7.61616L21.0806 8.06241C21.3832 8.088 21.6716 8.20234 21.9095 8.3911C22.1475 8.57986 22.3244 8.83464 22.4182 9.12352C22.512 9.41241 22.5185 9.72254 22.4368 10.0151C22.3551 10.3076 22.1889 10.5695 21.959 10.768L21.9646 10.7671Z"
                                          fill="#FF4169" />
                                </svg>
                                Best Mall là nơi không phải thương hiệu nào cũng có thể có mặt
                            </li>
                            <li class="flex items-start gap-2">
                                <svg class="shrink-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24" fill="none">
                                    <path d="M21.9646 10.7671L17.7459 14.4074L19.0312 19.8515C19.1021 20.147 19.0838 20.4569 18.9787 20.7421C18.8736 21.0272 18.6863 21.2748 18.4405 21.4536C18.1947 21.6324 17.9015 21.7343 17.5978 21.7465C17.2941 21.7587 16.9936 21.6806 16.7343 21.5221L11.9999 18.6083L7.26275 21.5221C7.00347 21.6797 6.70335 21.757 6.4002 21.7444C6.09704 21.7318 5.8044 21.6297 5.55913 21.4511C5.31386 21.2725 5.12692 21.0253 5.02185 20.7406C4.91679 20.456 4.89829 20.1466 4.96869 19.8515L6.25869 14.4074L2.03994 10.7671C1.81053 10.5688 1.64462 10.3074 1.56293 10.0154C1.48123 9.72336 1.48737 9.41376 1.58058 9.12522C1.67379 8.83669 1.84994 8.58201 2.08703 8.39299C2.32412 8.20397 2.61164 8.08899 2.91369 8.06241L8.44494 7.61616L10.5787 2.45241C10.6942 2.17099 10.8908 1.93027 11.1434 1.76085C11.3961 1.59143 11.6934 1.50098 11.9976 1.50098C12.3018 1.50098 12.5991 1.59143 12.8518 1.76085C13.1044 1.93027 13.301 2.17099 13.4165 2.45241L15.5493 7.61616L21.0806 8.06241C21.3832 8.088 21.6716 8.20234 21.9095 8.3911C22.1475 8.57986 22.3244 8.83464 22.4182 9.12352C22.512 9.41241 22.5185 9.72254 22.4368 10.0151C22.3551 10.3076 22.1889 10.5695 21.959 10.768L21.9646 10.7671Z"
                                          fill="#FF4169" />
                                </svg>
                                Thông điệp mạnh: CHỈ BÁN HÀNG THẬT và HÀNG CHẤT LƯỢNG!
                            </li>
                        </ul>
                        <p class="text-sm mt-4">
                            Chúng tôi có đội ngũ kinh nghiệm trong việc kiểm định sản phẩm với các cơ quan chức năng để đảm
                            bảo với người tiêu dùng: một sản phẩm nằm trên Best Mall, sản phẩm đó không thể là giả. Một
                            thương hiệu góp mặt trên Best Mall, thương hiệu đó là thương hiệu uy tín và kinh doanh sản phẩm
                            thật, chất lượng thật.
                        </p>
                    </div>
                </div>

                <div class="bg-box rounded-3xl overflow-hidden px-6 pt-6 py-12 shadow-xl relative">
                    <img src="assets/images/Isolation_Mode2.svg" class="absolute top-0 right-0" alt="">
                    <div class="relative">
                        <h3 class="text-xl font-semibold mb-4">Điểm khác biệt</h3>
                        <ul class="space-y-2 font-medium">
                            <li class="flex items-start gap-2">
                                <svg class="shrink-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24" fill="none">
                                    <path d="M21.9646 10.7671L17.7459 14.4074L19.0312 19.8515C19.1021 20.147 19.0838 20.4569 18.9787 20.7421C18.8736 21.0272 18.6863 21.2748 18.4405 21.4536C18.1947 21.6324 17.9015 21.7343 17.5978 21.7465C17.2941 21.7587 16.9936 21.6806 16.7343 21.5221L11.9999 18.6083L7.26275 21.5221C7.00347 21.6797 6.70335 21.757 6.4002 21.7444C6.09704 21.7318 5.8044 21.6297 5.55913 21.4511C5.31386 21.2725 5.12692 21.0253 5.02185 20.7406C4.91679 20.456 4.89829 20.1466 4.96869 19.8515L6.25869 14.4074L2.03994 10.7671C1.81053 10.5688 1.64462 10.3074 1.56293 10.0154C1.48123 9.72336 1.48737 9.41376 1.58058 9.12522C1.67379 8.83669 1.84994 8.58201 2.08703 8.39299C2.32412 8.20397 2.61164 8.08899 2.91369 8.06241L8.44494 7.61616L10.5787 2.45241C10.6942 2.17099 10.8908 1.93027 11.1434 1.76085C11.3961 1.59143 11.6934 1.50098 11.9976 1.50098C12.3018 1.50098 12.5991 1.59143 12.8518 1.76085C13.1044 1.93027 13.301 2.17099 13.4165 2.45241L15.5493 7.61616L21.0806 8.06241C21.3832 8.088 21.6716 8.20234 21.9095 8.3911C22.1475 8.57986 22.3244 8.83464 22.4182 9.12352C22.512 9.41241 22.5185 9.72254 22.4368 10.0151C22.3551 10.3076 22.1889 10.5695 21.959 10.768L21.9646 10.7671Z"
                                          fill="#FF4169" />
                                </svg>
                                Không cho cá nhân thuê gian hàng, chỉ hợp tác trực tiếp với nhà cung cấp đạt chuẩn
                            </li>
                            <li class="flex items-start gap-2">
                                <svg class="shrink-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24" fill="none">
                                    <path d="M21.9646 10.7671L17.7459 14.4074L19.0312 19.8515C19.1021 20.147 19.0838 20.4569 18.9787 20.7421C18.8736 21.0272 18.6863 21.2748 18.4405 21.4536C18.1947 21.6324 17.9015 21.7343 17.5978 21.7465C17.2941 21.7587 16.9936 21.6806 16.7343 21.5221L11.9999 18.6083L7.26275 21.5221C7.00347 21.6797 6.70335 21.757 6.4002 21.7444C6.09704 21.7318 5.8044 21.6297 5.55913 21.4511C5.31386 21.2725 5.12692 21.0253 5.02185 20.7406C4.91679 20.456 4.89829 20.1466 4.96869 19.8515L6.25869 14.4074L2.03994 10.7671C1.81053 10.5688 1.64462 10.3074 1.56293 10.0154C1.48123 9.72336 1.48737 9.41376 1.58058 9.12522C1.67379 8.83669 1.84994 8.58201 2.08703 8.39299C2.32412 8.20397 2.61164 8.08899 2.91369 8.06241L8.44494 7.61616L10.5787 2.45241C10.6942 2.17099 10.8908 1.93027 11.1434 1.76085C11.3961 1.59143 11.6934 1.50098 11.9976 1.50098C12.3018 1.50098 12.5991 1.59143 12.8518 1.76085C13.1044 1.93027 13.301 2.17099 13.4165 2.45241L15.5493 7.61616L21.0806 8.06241C21.3832 8.088 21.6716 8.20234 21.9095 8.3911C22.1475 8.57986 22.3244 8.83464 22.4182 9.12352C22.512 9.41241 22.5185 9.72254 22.4368 10.0151C22.3551 10.3076 22.1889 10.5695 21.959 10.768L21.9646 10.7671Z"
                                          fill="#FF4169" />
                                </svg>
                                Không nâng giá bán, giá niêm yết đúng như nhà cung cấp
                            </li>
                            <li class="flex items-start gap-2">
                                <svg class="shrink-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24" fill="none">
                                    <path d="M21.9646 10.7671L17.7459 14.4074L19.0312 19.8515C19.1021 20.147 19.0838 20.4569 18.9787 20.7421C18.8736 21.0272 18.6863 21.2748 18.4405 21.4536C18.1947 21.6324 17.9015 21.7343 17.5978 21.7465C17.2941 21.7587 16.9936 21.6806 16.7343 21.5221L11.9999 18.6083L7.26275 21.5221C7.00347 21.6797 6.70335 21.757 6.4002 21.7444C6.09704 21.7318 5.8044 21.6297 5.55913 21.4511C5.31386 21.2725 5.12692 21.0253 5.02185 20.7406C4.91679 20.456 4.89829 20.1466 4.96869 19.8515L6.25869 14.4074L2.03994 10.7671C1.81053 10.5688 1.64462 10.3074 1.56293 10.0154C1.48123 9.72336 1.48737 9.41376 1.58058 9.12522C1.67379 8.83669 1.84994 8.58201 2.08703 8.39299C2.32412 8.20397 2.61164 8.08899 2.91369 8.06241L8.44494 7.61616L10.5787 2.45241C10.6942 2.17099 10.8908 1.93027 11.1434 1.76085C11.3961 1.59143 11.6934 1.50098 11.9976 1.50098C12.3018 1.50098 12.5991 1.59143 12.8518 1.76085C13.1044 1.93027 13.301 2.17099 13.4165 2.45241L15.5493 7.61616L21.0806 8.06241C21.3832 8.088 21.6716 8.20234 21.9095 8.3911C22.1475 8.57986 22.3244 8.83464 22.4182 9.12352C22.512 9.41241 22.5185 9.72254 22.4368 10.0151C22.3551 10.3076 22.1889 10.5695 21.959 10.768L21.9646 10.7671Z"
                                          fill="#FF4169" />
                                </svg>
                                Minh bạch hóa dữ liệu kinh doanh cho nhà cung cấp
                            </li>
                            <li class="flex items-start gap-2">
                                <svg class="shrink-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24" fill="none">
                                    <path d="M21.9646 10.7671L17.7459 14.4074L19.0312 19.8515C19.1021 20.147 19.0838 20.4569 18.9787 20.7421C18.8736 21.0272 18.6863 21.2748 18.4405 21.4536C18.1947 21.6324 17.9015 21.7343 17.5978 21.7465C17.2941 21.7587 16.9936 21.6806 16.7343 21.5221L11.9999 18.6083L7.26275 21.5221C7.00347 21.6797 6.70335 21.757 6.4002 21.7444C6.09704 21.7318 5.8044 21.6297 5.55913 21.4511C5.31386 21.2725 5.12692 21.0253 5.02185 20.7406C4.91679 20.456 4.89829 20.1466 4.96869 19.8515L6.25869 14.4074L2.03994 10.7671C1.81053 10.5688 1.64462 10.3074 1.56293 10.0154C1.48123 9.72336 1.48737 9.41376 1.58058 9.12522C1.67379 8.83669 1.84994 8.58201 2.08703 8.39299C2.32412 8.20397 2.61164 8.08899 2.91369 8.06241L8.44494 7.61616L10.5787 2.45241C10.6942 2.17099 10.8908 1.93027 11.1434 1.76085C11.3961 1.59143 11.6934 1.50098 11.9976 1.50098C12.3018 1.50098 12.5991 1.59143 12.8518 1.76085C13.1044 1.93027 13.301 2.17099 13.4165 2.45241L15.5493 7.61616L21.0806 8.06241C21.3832 8.088 21.6716 8.20234 21.9095 8.3911C22.1475 8.57986 22.3244 8.83464 22.4182 9.12352C22.512 9.41241 22.5185 9.72254 22.4368 10.0151C22.3551 10.3076 22.1889 10.5695 21.959 10.768L21.9646 10.7671Z"
                                          fill="#FF4169" />
                                </svg>
                                Truyền thông cảm xúc, chạm đến trái tim người tiêu dùng với các chiến dịch thật gần gũi và
                                nhân văn
                            </li>
                        </ul>
                        <p class="text-sm mt-4">
                            Chúng tôi không chỉ bán sản phẩm đơn thuần, các thương hiệu chân chính hãy cùng chúng tôi trao
                            lại niềm tin cho người tiêu dùng mà thị trường hàng giả đã cướp đi.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="max-w-[1230px] mx-auto md:my-12 my-6  px-[15px]">
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <h2 class="text-2xl md:text-4xl font-bold mb-4">Ban điều hành</h2>

            <div class="relative">
                <!-- Swiper Main -->
                <div class="md:max-w-3/4 overflow-hidden">
                    <div class="swiperCEO " data-group="board">
                        <div class="swiper-wrapper">
                            <!-- Slide 1 -->
                            <div class="swiper-slide">
                                <div class="md:flex gap-6 items-center  bg-top rounded-3xl  p-6 md:!pr-20">
                                    <img src="assets/images/avatar.png"
                                         class="shrink-0 w-60 h-60 mx-auto rounded-full object-cover" alt="CEO 1">

                                    <div class="flex-1 mt-3">
                                        <blockquote class="relative md:text-lg  mb-2">
                                            <span class="absolute -top-2 -left-2 ">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="30"
                                                     viewBox="0 0 28 30" fill="none">
                                                    <path d="M6.89501 15.7534H12.2162L12.2162 30H0.786499L0.786499 20C0.786499 16.2558 1.28585 12.7626 2.28454 9.52064C3.28323 6.27864 5.04024 3.10509 7.55556 0L11.7724 4.10959C9.77511 6.66668 8.44348 9.06395 7.77747 11.3014C7.34651 12.7366 7.05033 14.2308 6.89501 15.7534Z"
                                                          fill="#D5C3FD" />
                                                    <path d="M22.4316 15.7534H27.7528L27.7528 30H16.3231V20C16.3231 16.2558 16.8225 12.7626 17.8212 9.52064C18.8199 6.27864 20.5769 3.10509 23.0922 0L27.309 4.10959C25.3117 6.66668 23.9801 9.06395 23.3141 11.3014C22.8831 12.7366 22.5869 14.2308 22.4316 15.7534Z"
                                                          fill="#D5C3FD" />
                                                </svg>
                                            </span>
                                            <p class="relative z-10">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit. Phasellus fringilla,
                                                tellus
                                                eget euismod ullamcorper, nunc nunc tincidunt quam, ac facilisis mauris
                                                tellus
                                                ac
                                                quam.
                                                Nullam eget nisl augue. Integer sit amet volutpat ligula, vestibulum
                                                tristique
                                                arcu.
                                                Donec aliquam diam vel nisl congue fringilla.
                                            </p>
                                        </blockquote>
                                        <p class="text-purple-600 mt-3">Ông Đinh Thanh Bình</p>
                                        <p>Tổng giám đốc Điều hành</p>
                                    </div>
                                </div>
                                <img src="assets/images/Isolation_Mode3.svg" class="absolute bottom-0 right-0 hidden md:block"
                                     alt="">
                            </div>

                            <!-- Slide 2 -->
                            <div class="swiper-slide">
                                <div class="md:flex gap-6 items-center  bg-top rounded-3xl  p-6 md:!pr-20">
                                    <img src="assets/images/avatar.png"
                                         class="shrink-0 w-60 h-60 mx-auto rounded-full object-cover" alt="CEO 1">

                                    <div class="flex-1 mt-3">
                                        <blockquote class="relative md:text-lg  mb-2">
                                            <span class="absolute -top-2 -left-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="30"
                                                     viewBox="0 0 28 30" fill="none">
                                                    <path d="M6.89501 15.7534H12.2162L12.2162 30H0.786499L0.786499 20C0.786499 16.2558 1.28585 12.7626 2.28454 9.52064C3.28323 6.27864 5.04024 3.10509 7.55556 0L11.7724 4.10959C9.77511 6.66668 8.44348 9.06395 7.77747 11.3014C7.34651 12.7366 7.05033 14.2308 6.89501 15.7534Z"
                                                          fill="#D5C3FD" />
                                                    <path d="M22.4316 15.7534H27.7528L27.7528 30H16.3231V20C16.3231 16.2558 16.8225 12.7626 17.8212 9.52064C18.8199 6.27864 20.5769 3.10509 23.0922 0L27.309 4.10959C25.3117 6.66668 23.9801 9.06395 23.3141 11.3014C22.8831 12.7366 22.5869 14.2308 22.4316 15.7534Z"
                                                          fill="#D5C3FD" />
                                                </svg>
                                            </span>
                                            <p class="relative z-10">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit. Phasellus fringilla,
                                                tellus
                                                eget euismod ullamcorper, nunc nunc tincidunt quam, ac facilisis mauris
                                                tellus
                                                ac
                                                quam.
                                                Nullam eget nisl augue. Integer sit amet volutpat ligula, vestibulum
                                                tristique
                                                arcu.
                                                Donec aliquam diam vel nisl congue fringilla.
                                            </p>
                                        </blockquote>
                                        <p class="text-purple-600 mt-3">Bà Nguyễn Thị Mai</p>
                                        <p>Phó Tổng Giám đốc</p>
                                    </div>
                                </div>
                                <img src="assets/images/Isolation_Mode3.svg" class="absolute bottom-0 right-0 hidden md:block"
                                     alt="">
                            </div>

                            <!-- Slide 3 -->
                            <div class="swiper-slide">
                                <div class="md:flex gap-6 items-center  bg-top rounded-3xl  p-6 md:!pr-20">
                                    <img src="assets/images/avatar.png"
                                         class="shrink-0 w-60 h-60 mx-auto rounded-full object-cover" alt="CEO 1">

                                    <div class="flex-1 mt-3">
                                        <blockquote class="relative md:text-lg  mb-2">
                                            <span class="absolute -top-2 -left-2 ">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="30"
                                                     viewBox="0 0 28 30" fill="none">
                                                    <path d="M6.89501 15.7534H12.2162L12.2162 30H0.786499L0.786499 20C0.786499 16.2558 1.28585 12.7626 2.28454 9.52064C3.28323 6.27864 5.04024 3.10509 7.55556 0L11.7724 4.10959C9.77511 6.66668 8.44348 9.06395 7.77747 11.3014C7.34651 12.7366 7.05033 14.2308 6.89501 15.7534Z"
                                                          fill="#D5C3FD" />
                                                    <path d="M22.4316 15.7534H27.7528L27.7528 30H16.3231V20C16.3231 16.2558 16.8225 12.7626 17.8212 9.52064C18.8199 6.27864 20.5769 3.10509 23.0922 0L27.309 4.10959C25.3117 6.66668 23.9801 9.06395 23.3141 11.3014C22.8831 12.7366 22.5869 14.2308 22.4316 15.7534Z"
                                                          fill="#D5C3FD" />
                                                </svg>
                                            </span>
                                            <p class="relative z-10">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit. Phasellus fringilla,
                                                tellus
                                                eget euismod ullamcorper, nunc nunc tincidunt quam, ac facilisis mauris
                                                tellus
                                                ac
                                                quam.
                                                Nullam eget nisl augue. Integer sit amet volutpat ligula, vestibulum
                                                tristique
                                                arcu.
                                                Donec aliquam diam vel nisl congue fringilla.
                                            </p>
                                        </blockquote>
                                        <p class="text-purple-600 mt-3">Ông Lê Quốc Bảo</p>
                                        <p>Giám đốc Công nghệ</p>
                                    </div>
                                </div>
                                <img src="assets/images/Isolation_Mode3.svg" class="absolute bottom-0 right-0 hidden md:block"
                                     alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination-avatar flex md:flex-col gap-4 mt-4 justify-center md:absolute top-0 right-0">
                    <img src="assets/images/avatar.png" class="active-avatar w-12 h-12 rounded-full cursor-pointer" data-slide="0"
                         data-group="board" />
                    <img src="assets/images/avatar.png" class="w-12 h-12 rounded-full cursor-pointer" data-slide="1"
                         data-group="board" />
                    <img src="assets/images/avatar.png" class="w-12 h-12 rounded-full cursor-pointer" data-slide="2"
                         data-group="board" />
                </div>
            </div>

        </div>

        <div class="max-w-[1230px] mx-auto md:my-12 my-6  px-[15px]">
            <div class="swiper h-full banner-ads md:rounded-3xl rounded-xl overflow-hidden">
                <div class="swiper-wrapper">
                    <!-- Slide 1: Banner lớn -->
                    <div class="swiper-slide">
                        <img src="assets/images/qc1.png" alt="qc 1" class="w-full">
                    </div>
                    <!-- Slide 2: Banner nhỏ -->
                    <div class="swiper-slide">
                        <img src="assets/images/qc2.png" alt="qc 1" class="w-full">
                    </div>
                    <!-- Slide 3: Banner nhỏ -->
                    <div class="swiper-slide">
                        <img src="assets/images/qc3.png" alt="qc 1" class="w-full">
                    </div>
                </div>

                <!-- Pagination (on top of slide) -->
                <div class="swiper-pagination !bottom-0 !text-white"></div>
            </div>

        </div>
        <div class="max-w-[1230px] mx-auto md:my-12 my-6 px-[15px]">
            <div class="bg-form  my-6 md:my-10  md:rounded-3xl rounded-xl shadow overflow-hidden">
                <div class="grid md:grid-cols-2 items-center md:gap-6 gap-3">
                    <img src="assets/images/img-form.png" alt="Banner 1" class="w-full" />
                    <div class=" w-full md:order-none -order-1">
                        <div class="flex justify-start">
                            <div class="box space-y-3 md:pr-6 p-4">
                                <!-- Form liên hệ -->
                                <div class="flex-1 w-full max-w-md ">
                                    <h2 class="text-xl md:text-3xl font-bold mb-6 text-center text-white">
                                        Liên hệ với
                                        chúng tôi
                                    </h2>
                                    <form id="contactForm" class="space-y-4">
                                        <input type="email" id="email" placeholder="Nhập email của bạn"
                                               class="w-full bg-white/60 px-4 py-3 rounded-full focus:outline-none " maxlength="80">
                                        <span id="email-error" class="text-red-500 text-sm py-2 px-4"></span> <!-- Error message -->

                                        <input type="text" id="phone" placeholder="Họ tên của bạn"
                                               class="w-full bg-white/60 px-4 py-3 rounded-full focus:outline-none " maxlength="40">
                                        <span id="phone-error" class="text-red-500 text-sm py-2 px-4"></span> <!-- Error message -->

                                        <textarea rows="4" id="message" placeholder="Lời nhắn"
                                                  class="w-full bg-white/60 px-4 py-3 rounded-xl resize-none focus:outline-none " maxlength="400"></textarea>
                                        <span id="message-error" class="text-red-500 text-sm py-2 px-4"></span> <!-- Error message -->

                                        <div class="text-center">
                                            <button type="submit"
                                                    class="bg-white text-purple-600 cursor-pointer px-6 py-2 rounded-full hover:bg-gray-100 transition">
                                                Liên hệ ngay
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- END HOME -->

</main>

@section scripts {
    <script>
        // Lắng nghe sự kiện submit từ form liên hệ
        $("body").on('submit', "#contactForm", function (e) {
            debugger
            e.preventDefault();  // Ngừng hành động mặc định (không reload trang)

            const email = $('#email').val();
            const phone = $('#phone').val();
            const message = $('#message').val();

               // Xóa các lỗi cũ nếu có
        $('#email-error').text('');
        $('#phone-error').text('');
        $('#message-error').text('');

        let hasError = false;

            // Kiểm tra email
        if (!email) {
            $('#email-error').text('Vui lòng nhập email.');
            $('#email').addClass('m-0'); // Thêm m-0 vào input khi có lỗi
            hasError = true;
        } else {
            $('#email').removeClass('m-0'); // Xóa m-0 nếu không có lỗi
        }

        // Kiểm tra họ tên
        if (!phone) {
            $('#phone-error').text('Vui lòng nhập họ tên.');
            $('#phone').addClass('m-0'); // Thêm m-0 vào input khi có lỗi
            hasError = true;
        } else {
            $('#phone').removeClass('m-0'); // Xóa m-0 nếu không có lỗi
        }

        // Kiểm tra tin nhắn
        if (!message) {
            $('#message-error').text('Vui lòng nhập lời nhắn.');
            $('#message').addClass('m-0'); // Thêm m-0 vào input khi có lỗi
            hasError = true;
        } else {
            $('#message').removeClass('m-0'); // Xóa m-0 nếu không có lỗi
        }

        // Nếu có lỗi, dừng lại
        if (hasError) {
            return;
        }

            const requestData = {
                email: email,
                phone: phone,
                message: message
            };
            $.when(
            // Gửi yêu cầu POST qua AJAX
            global_service.POST(API_URL.AddContract, requestData))
                .done(function (result) {
                    debugger
                    if (result.is_success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Cảm ơn!',
                            text: 'Chúng tôi đã nhận được thông tin liên hệ của bạn.',
                        });
                        $('#contactForm')[0].reset(); // Reset form
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Lỗi',
                            text: result.msg || 'Có lỗi xảy ra. Vui lòng thử lại sau.',
                        });
                    }
                })
                .fail(function () {
                    // Xử lý khi AJAX gặp lỗi (nếu cần)
                    Swal.fire({
                        icon: 'error',
                        title: 'Lỗi',
                        text: 'Có lỗi xảy ra khi gửi yêu cầu, vui lòng thử lại.',
                    });
                });
        });
    </script>

   
}