@using Best1Mall_Front_End.Models;
@using Best1Mall_Front_End.Utilities;
@model List<CategoryModel>
@{
    if (Model != null)
    {
        <ul class="list-cat flex flex-wrap gap-2 mt-3">
           
            @foreach (var item in Model)
            {
                <li>
                    <a href="javascript:void(0)" class="cat-tag2 px-5 py-1 border border-gray-300 rounded-full inline-block" data-id="@item.id">@item.name</a>
                </li>
            }
        </ul>
        <div class="category_id" data-categoryid="0" style="display:none;"></div>
    }
}

