
@using HuloToys_Front_End.Models.Labels
@using HuloToys_Front_End.ViewModels;
@using HuloToys_Front_End.Utilities;
@model List<LabelListingModel>

<!-- List Thương hiệu được yêu thích -->
<div class="mt-6">
    <h3 class="font-medium text-red-400 uppercase  flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29"
             fill="none">
            <path d="M24.4394 5.24118C24.4269 5.02712 24.3362 4.8251 24.1846 4.67348C24.0329 4.52185 23.8309 4.43118 23.6169 4.41868C15.2901 3.92978 8.62045 6.43665 5.7767 11.1398C4.79097 12.7486 4.30523 14.6139 4.38107 16.4992C4.44342 18.2404 4.95092 19.9992 5.88935 21.7327L3.75545 23.8656C3.59126 24.0297 3.49902 24.2524 3.49902 24.4846C3.49902 24.7168 3.59126 24.9395 3.75545 25.1037C3.91963 25.2679 4.14232 25.3601 4.37451 25.3601C4.6067 25.3601 4.82939 25.2679 4.99357 25.1037L7.12639 22.9698C8.85889 23.9071 10.6187 24.4146 12.3589 24.477C12.4807 24.4813 12.6021 24.4835 12.7231 24.4835C14.4859 24.4882 16.2154 24.0028 17.7183 23.0813C22.4214 20.2376 24.9294 13.569 24.4394 5.24118ZM16.8159 21.5851C14.3276 23.0923 11.3822 23.1163 8.42576 21.6693L18.1197 11.9765C18.201 11.8952 18.2655 11.7987 18.3094 11.6925C18.3534 11.5862 18.3761 11.4724 18.3761 11.3574C18.3761 11.2425 18.3534 11.1286 18.3094 11.0224C18.2655 10.9162 18.201 10.8197 18.1197 10.7384C18.0384 10.6571 17.9419 10.5926 17.8356 10.5486C17.7294 10.5046 17.6156 10.4819 17.5006 10.4819C17.3856 10.4819 17.2718 10.5046 17.1656 10.5486C17.0594 10.5926 16.9628 10.6571 16.8815 10.7384L7.18873 20.4366C5.74607 17.4835 5.76685 14.5304 7.27295 12.0465C9.68904 8.05759 15.4323 5.87337 22.7287 6.13368C22.9901 13.4246 20.8048 19.169 16.8159 21.5851Z"
                  fill="#FF4169" />
        </svg> Thương hiệu
    </h3>
    <ul class="mt-2 space-y-1 ">
        
        @foreach (var label in Model)
        {
            <li>
            <a href="#"
               class="flex my-2 items-center gap-2 text-gray-700 hover:text-purple-500 text-purple-500 font-medium">
                <span>»</span>
                @label.LabelName
            </a>
        </li>
        }
    </ul>
</div>

