@{
    Layout = null;
}
<div id="address-book" class="overlay form-update-address form-noti">
    <div class="popup">
        <a class="close btn-close" href="javascript:;" style="display:block !important;">
            <i class="icon icon-close "></i>
        </a>
        <div class="content">
            <nw class="section-qly-taikhoan">
                <nw class="box-quanlytaikhoan">
                    <nw class="content-left-user" style="width:100% !important;">
                        <h4 class="title-popup">Sổ địa chỉ</h4>
                        <div class="action">
                            <a href="javascript:;" class="btn btn-add btn-add-address">+ Thêm địa chỉ giao hàng mới</a>
                        </div>
                        <nw>
                            <!-- Địa chỉ -->
                            <div class="box-address placeholder">
                                <div class="list-add">
                                    <div class="item active">
                                        <span class="defauld">Đặt làm mặc định</span>
                                        <h3 class="name">mai văn đinh</h3>
                                        <p class="add">
                                            Địa chỉ: Tầng 10, Tòa A FPT Tower, số 10 Phạm Văn Bạch, Dịch Vọng, Cầu Giấy,
                                            Hà Nội
                                        </p>
                                        <p class="tel">Điện thoại: 024 7300 8899</p>
                                        <a href="" class="btn btn-update">Cập nhật</a>
                                    </div>
                                    <div class="item">
                                        <span class="defauld">Đặt làm mặc định</span>
                                        <h3 class="name">mai văn đinh</h3>
                                        <p class="add">
                                            Địa chỉ: Tầng 10, Tòa A FPT Tower, số 10 Phạm Văn Bạch, Dịch Vọng, Cầu Giấy,
                                            Hà Nội
                                        </p>
                                        <p class="tel">Điện thoại: 024 7300 8899</p>
                                        <a href="javascript:;" class="btn btn-update">Cập nhật</a>
                                    </div>
                                </div>
                               
                            </div>
                        </nw>
                        <div class="action">
                            <a href="javascript:;" class="btn btn-back btn-close">Hủy</a>
                            <a href="javascript:;" class="btn btn-base btn-save">Xác nhận</a>
                        </div>
                    </nw>
                </nw>
            </nw>
            
        </div>
    </div>
</div>
<partial name="/Views/Client/UpdateAddress.cshtml" />
