@using HuloToys_Front_End.Models.Client
@{
    ViewData["Title"] = "Đổi mật khẩu tài khoản | Hulotoys";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string token = (string)ViewBag.Token;
}
@model ClientForgotPasswordTokenModel
<div class="container">
    <div id="forgot-password-change" class="content" style="padding: 70px;" data-token="@token">
        <h3 class="title-popup" style="text-align: -webkit-center;">ĐỔI MẬT KHẨU TÀI KHOẢN</h3>
        <div class="content">
            <div class="form-group new-password">
                <label style=" margin-top: 20px; margin-bottom: 20px; margin-left: 10px; ">Nhập mật khẩu mới</label>
                <div class="box-input user"> <input class="form-control " type="password" placeholder="Nhập mật khẩu mới"> </div>
                <span class="err" style="display: none;">Vui lòng không để trống</span>
            </div>
            <div class="form-group confirm-new-password">
                <label style=" margin-top: 20px; margin-bottom: 20px; margin-left: 10px;">Xác nhận mật khẩu mới</label>
                <div class="box-input user">
                    <input class="form-control " type="password" placeholder="Xác nhận mật khẩu mới">
                </div>
                <span class="err" style="display: none;">Vui lòng không để trống</span>
            </div>
        </div>
        <div class="bottom-box" style="float: right;">
            <div class="action">
                <a href="/" class="btn btn-cancel" style=" margin-right: 50px; ">Hủy</a>
                <a id="change-password-confirm" href="javascript:;" class="btn btn-base btn-logout">Xác nhận đổi mật khẩu</a>
            </div>
        </div>
    </div>
</div>