@{
    ViewData["Title"] = "Profile | Best mall";
    Layout = "~/Views/Shared/_AccountManagementLayout.cshtml";
}

 <!-- Thông tin tài khoản -->

<div class="box-info">
    <form>
        <div class="form-group">
            <label>Họ và tên</label>
            <div class="box-input user">
                <input class="form-control" type="text" placeholder="Nhập họ tên" />
            </div>
        </div>
        <div class="form-group">
            <label>Địa chỉ Email</label>
            <div class="box-input email">
                <input class="form-control" type="text" placeholder="Nhập địa chỉ Email" />
            </div>
        </div>
        <div class="form-group">
            <label>Số điện thoại</label>
            <div class="box-input tel">
                <input class="form-control" type="text" placeholder="Nhập số điện thoại" />
            </div>
        </div>
        <div class="form-group">
            <label>Giới tính</label>
            <div class="box-check">
                <div class="box-checkbox">
                    <input type="checkbox" id="checkbox" class="checkbox" />
                    <label for="checkbox"><span>Nam</span></label>
                </div>
                <div class="box-checkbox">
                    <input type="checkbox" id="checkbox" class="checkbox" />
                    <label for="checkbox"><span>Nữ</span></label>
                </div>
                <div class="box-checkbox">
                    <input type="checkbox" id="checkbox" class="checkbox" />
                    <label for="checkbox"><span>Khác</span></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Ngày sinh</label>
            <div class="listbox-select">
                <div class="box-select">
                    <select id="day">
                        <option value="hide">Ngày</option>
                        <option value="2020">01</option>
                        <option value="2021">02</option>
                        <option value="2022">03</option>
                        <option value="2023">04</option>
                    </select>
                </div>
                <div class="box-select">
                    <select id="month">
                        <option value="hide">Tháng</option>
                        <option value="2020">Tháng 1</option>
                        <option value="2021">Tháng 2</option>
                        <option value="2022">Tháng 3</option>
                        <option value="2023">Tháng 4</option>
                        <option value="2024">Tháng 5</option>
                        <option value="2025">Tháng 6</option>
                    </select>
                </div>
                <div class="box-select">
                    <select id="year">
                        <option value="hide">Năm</option>
                        <option value="2020">2021</option>
                        <option value="2021">2020</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="flex justify-center text-center items-center mt-4 gap-3">
            <a href=""
               class="border border-blue-500 px-6 py-2 text-blue-500 rounded-full cursor-pointer hover:opacity-80 w-full">
                Hủy
                bỏ
            </a>
            <a href=""
               class="border border-blue-500 bg-blue-500 px-6 py-2 text-white rounded-full cursor-pointer hover:opacity-80 w-full">
                Cập
                nhật
            </a>
        </div>
    </form>
</div>