@{
    Layout = null;
}
@* <div id="update-address-old" class="overlay form-update-address form-noti">
    <div class="popup">
        <a class="close btn-close" href="javascript:;">
            <i class="icon icon-close "></i>
        </a>
        <div class="content">
            <h4 class="title-popup">Cập nhật thông tin giao hàng</h4>
            <nw>
                <div class="scroll-form">
                    <div class="form-group">
                        <label>Họ và tên</label>
                        <div class="box-input user">
                            <input class="form-control" type="text" placeholder="Nhập họ tên" />
                        </div>
                        <span class="err" style="display:none;">Vui lòng không để trống</span>
                    </div>
                    <div class="form-group">
                        <label>Số điện thoại</label>
                        <div class="box-input tel">
                            <input class="form-control" type="text" placeholder="Nhập số điện thoại" />
                        </div>
                        <span class="err" style="display:none;">Vui lòng không để trống</span>
                    </div>

                    <div class="form-group">
                        <label>Tỉnh/thành</label>
                        <div class="box-input province">
                            <select class="select2 form-control">
                                <option>Đông đa</option>
                                <option>Đông đa1</option>
                                <option>Đông đa2</option>
                                <option>Đông đa3</option>
                                <option>Đông đa4</option>
                            </select>
                        </div>
                        <span class="err">Vui lòng không để trống</span>
                    </div>
                    <div class="form-group">
                        <label>Quận/Huyện</label>
                        <div class="box-input district">
                            <select class="select2 form-control" disabled>
                                <option>Đông đa</option>
                                <option>Đông đa1</option>
                                <option>Đông đa2</option>
                                <option>Đông đa3</option>
                                <option>Đông đa4</option>
                            </select>
                        </div>
                        <span class="err">Vui lòng không để trống</span>
                    </div>
                    <div class="form-group">
                        <label>Phường/Xã</label>
                        <div class="box-input wards">
                            <select class="select2 form-control" disabled>
                                <option>Đông đa</option>
                                <option>Đông đa1</option>
                                <option>Đông đa2</option>
                                <option>Đông đa3</option>
                                <option>Đông đa4</option>
                            </select>
                        </div>
                        <span class="err">Vui lòng không để trống</span>
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ cụ thể</label>
                        <div class="box-input address">
                            <input class="form-control" type="text" placeholder="Nhập địa chỉ cụ thể" />
                        </div>
                        <span class="err" style="display:none;">Vui lòng không để trống</span>
                    </div>
                </div>
                <div class="action">
                    <a href="javascript:;" class="btn btn-back btn-close">Trở lại</a>
                    <a href="javascript:;" class="btn btn-base btn-save">Cập nhật</a>
                </div>
            </nw>
        </div>
    </div>
</div> *@
<div id="update-address" class="overlay form-update-address">
    <div class="popup">
        <a class="close btn-close" href="javascript:;">
            <i class="icon icon-close"></i>
        </a>
        <div class="content">
            <h4 class="title-popup">Cập nhật thông tin giao hàng</h4>
            <nw>
                <div class="scroll-form">
                    <div class="form-group">
                        <label>Họ và tên</label>
                        <div class="box-input user">
                            <input class="form-control" type="text" placeholder="Nhập họ tên" />
                        </div>
                        <span class="err">Vui lòng không để trống</span>
                    </div>
                   
                    <div class="form-group">
                        <label>Số điện thoại</label>
                        <div class="box-input tel">
                            <input class="form-control" type="text" placeholder="Nhập số điện thoại" />
                        </div>
                        <span class="err">Vui lòng không để trống</span>
                    </div>

                    <div class="form-group">
                        <label>Tỉnh/thành</label>
                        <div class="box-input province">
                            <select class="form-control">
                              
                            </select>
                        </div>
                        <span class="err">Vui lòng không để trống</span>
                    </div>
                    <div class="form-group">
                        <label>Quận/Huyện</label>
                        <div class="box-input district">
                            <select class="form-control">
                               
                            </select>
                        </div>
                        <span class="err">Vui lòng không để trống</span>
                    </div>
                    <div class="form-group">
                        <label>Phường/Xã</label>
                        <div class="box-input wards">
                            <select class="form-control">
                               
                            </select>
                        </div>
                        <span class="err">Vui lòng không để trống</span>
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ cụ thể</label>
                        <div class="box-input address">
                            <input class="form-control" type="text" placeholder="Nhập địa chỉ cụ thể" />
                        </div>
                        <span class="err">Vui lòng không để trống</span>
                    </div>
                </div>
                <div class="action">
                    <a href="javascript:;" class="btn btn-back btn-close">Trở lại</a>
                    <a href="javascript:;" class="btn btn-base btn-save">Cập nhật</a>
                </div>
            </nw>
        </div>
    </div>
</div>