<div class="relative">
    <div class="flex items-center w-full bg-white border border-gray-300 rounded-full px-4 py-2">
        <!-- Input search -->
        <input type="text"
               placeholder="Từ khóa, mã sản phẩm..."
               class="flex-1 outline-none font-normal bg-transparent global-search" />

        <!-- Loading icon -->
        <div id="global-search-loading" class="hidden w-[24px] h-[24px] animate-spin mr-2">
            <img src="/assets/images/loading.gif" alt="Loading..." class="w-full h-full object-contain" />
        </div>

        <!-- Clear icon -->
        <div id="clear-search" class="hidden cursor-pointer mr-2">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path fill="currentColor"
                      d="M12 2.4C17.3 2.4 21.6 6.7 21.6 12C21.6 17.3 17.3 21.6 12 21.6C6.7 21.6 2.4 17.3 2.4 12C2.4 6.7 6.7 2.4 12 2.4ZM9.4 8.5C9.1 8.4 8.8 8.4 8.6 8.6C8.4 8.8 8.4 9.2 8.6 9.5L11.2 12L8.6 14.5C8.4 14.8 8.4 15.2 8.6 15.4C8.9 15.6 9.2 15.6 9.5 15.4L12 12.8L14.5 15.4C14.8 15.6 15.2 15.6 15.4 15.4C15.6 15.2 15.6 14.8 15.4 14.5L12.8 12L15.4 9.5C15.6 9.2 15.6 8.8 15.4 8.6C15.2 8.4 14.8 8.4 14.5 8.6L12 11.2L9.5 8.6C9.5 8.6 9.5 8.6 9.4 8.5Z" />
            </svg>
        </div>

        <!-- Search button -->
        <div id="search-button" class="py-2 px-[24px] bg-blue-100 rounded-full cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                 fill="none">
                <path d="M21.5306 20.4694L16.8365 15.7763C18.1971 14.1429 18.8755 12.0478 18.7307 9.92697C18.5859 7.8061 17.629 5.82271 16.0591 4.38938C14.4892 2.95605 12.4271 2.18314 10.3019 2.23144C8.17663 2.27974 6.15181 3.14553 4.64864 4.6487C3.14547 6.15187 2.27968 8.17669 2.23138 10.3019C2.18308 12.4272 2.95599 14.4893 4.38932 16.0592C5.82265 17.6291 7.80604 18.586 9.92691 18.7308C12.0478 18.8756 14.1428 18.1971 15.7762 16.8366L20.4693 21.5307C20.539 21.6003 20.6218 21.6556 20.7128 21.6933C20.8038 21.731 20.9014 21.7505 21 21.7505C21.0985 21.7505 21.1961 21.731 21.2871 21.6933C21.3782 21.6556 21.4609 21.6003 21.5306 21.5307C21.6003 21.461 21.6556 21.3783 21.6933 21.2872C21.731 21.1962 21.7504 21.0986 21.7504 21C21.7504 20.9015 21.731 20.8039 21.6933 20.7129C21.6556 20.6218 21.6003 20.5391 21.5306 20.4694ZM3.74997 10.5C3.74997 9.16501 4.14585 7.85996 4.88755 6.74993C5.62925 5.6399 6.68346 4.77474 7.91686 4.26384C9.15026 3.75295 10.5075 3.61928 11.8168 3.87973C13.1262 4.14018 14.3289 4.78306 15.2729 5.72706C16.2169 6.67106 16.8598 7.8738 17.1203 9.18317C17.3807 10.4925 17.2471 11.8497 16.7362 13.0831C16.2253 14.3165 15.3601 15.3708 14.2501 16.1125C13.14 16.8542 11.835 17.25 10.5 17.25C8.71037 17.248 6.99463 16.5363 5.72919 15.2708C4.46375 14.0054 3.75196 12.2896 3.74997 10.5Z"
                      fill="#773EFA" />
            </svg>

        </div>
    </div>

    <!-- Kết quả gợi ý -->
    <div class="box-search-list absolute z-50 mt-2 w-full max-h-96 overflow-y-auto rounded-md bg-white border border-gray-200 shadow hidden">
        <!-- Nội dung search render ra đây -->
    </div>
</div>
