@{
    ViewData["Title"] = "yêu thích | Best mall";
    Layout = "~/Views/Shared/_AccountManagementLayout.cshtml";
}

    <div id="favourite" class="list-product">
       
       
    </div>


@section Scripts {
    
    <script>
        $(document).ready(function () {
           
            favorite.Initialization();
        });
    </script>
    <script type="text/javascript" src="/modules/favorite.js"></script>
   
}