@{
    Layout = null;
}


<style>
    .li-Cursor
    {
        cursor : pointer;
    }

   
</style>
<!-- Footer Start-->
<footer class="footer border-t border-transparent font-normal mt-8">
    <!-- Border top gradient -->
    <div class="h-[1px] w-full bg-gradient-to-r from-pink-500 via-purple-500 to-blue-500"></div>

    <!-- Footer content -->
    <div class="max-w-[1230px] mx-auto px-[15px] grid grid-cols-1 lg:grid-cols-3 gap-8  py-10">
        <!-- BÊN TRÁI: Logo + Thông tin -->
        <div class="space-y-4 md:col-span-2">
            <img src="/assets/images/logo.svg" alt="Logo" class="h-[50px]">
            <p class="max-w-xl">
                Best Mall – Chuyên cung cấp các sản phẩm thực phẩm chức năng <br />Giúp cơ thể khỏe mạnh từ bên
                trong, hỗ
                trợ tăng cường trí não, cải thiện sức khoẻ tổng thể và nâng cao sức đề kháng qua từng sản phẩm chất
                lượng.
            </p>
            <div class="space-y-1 my-8">
                <a href="" class="flex items-center gap-2 hover:text-red-500">
                    <svg width="24" height="24"
                         viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.5253 4.30575C13.5508 4.21057 13.5947 4.12133 13.6547 4.04315C13.7147 3.96496 13.7894 3.89935 13.8748 3.85008C13.9601 3.8008 14.0543 3.76882 14.152 3.75596C14.2496 3.74309 14.3489 3.74961 14.4441 3.77512C15.8344 4.13789 17.103 4.86473 18.119 5.88078C19.1351 6.89684 19.8619 8.16538 20.2247 9.55575C20.2502 9.65092 20.2567 9.75018 20.2439 9.84786C20.231 9.94555 20.199 10.0397 20.1497 10.1251C20.1005 10.2104 20.0349 10.2852 19.9567 10.3451C19.8785 10.4051 19.7893 10.449 19.6941 10.4745C19.6307 10.4911 19.5655 10.4996 19.5 10.4998C19.3347 10.4998 19.1741 10.4452 19.043 10.3445C18.912 10.2438 18.8179 10.1026 18.7753 9.94293C18.4795 8.80792 17.8863 7.77235 17.0569 6.94296C16.2275 6.11356 15.1919 5.52036 14.0569 5.2245C13.9616 5.19914 13.8723 5.15525 13.794 5.09533C13.7157 5.03542 13.65 4.96066 13.6006 4.87533C13.5513 4.79 13.5192 4.69577 13.5063 4.59803C13.4933 4.5003 13.4998 4.40098 13.5253 4.30575ZM13.3069 8.2245C14.5997 8.5695 15.4303 9.40012 15.7753 10.6929C15.8179 10.8526 15.912 10.9938 16.043 11.0945C16.1741 11.1952 16.3347 11.2498 16.5 11.2498C16.5655 11.2496 16.6307 11.2411 16.6941 11.2245C16.7893 11.199 16.8785 11.1551 16.9567 11.0951C17.0349 11.0352 17.1005 10.9604 17.1497 10.8751C17.199 10.7897 17.231 10.6955 17.2439 10.5979C17.2567 10.5002 17.2502 10.4009 17.2247 10.3057C16.7447 8.5095 15.4903 7.25512 13.6941 6.77512C13.5019 6.72378 13.2971 6.75089 13.1249 6.85049C12.9527 6.95009 12.8271 7.11402 12.7758 7.30622C12.7244 7.49842 12.7516 7.70314 12.8512 7.87535C12.9508 8.04756 13.1147 8.17315 13.3069 8.2245ZM20.9888 17.1636C20.8216 18.4339 20.1977 19.6 19.2337 20.4439C18.2696 21.2879 17.0313 21.7521 15.75 21.7498C8.30626 21.7498 2.25001 15.6936 2.25001 8.24981C2.24771 6.96852 2.7119 5.73021 3.55588 4.76615C4.39986 3.80209 5.56592 3.17822 6.83626 3.01106C7.1575 2.97184 7.4828 3.03756 7.76362 3.19841C8.04444 3.35926 8.2657 3.60662 8.39438 3.90356L10.3744 8.32387V8.33512C10.4729 8.56242 10.5136 8.81059 10.4928 9.05744C10.472 9.3043 10.3904 9.54217 10.2553 9.74981C10.2384 9.77512 10.2206 9.79856 10.2019 9.822L8.25001 12.1357C8.9522 13.5626 10.4447 15.042 11.8903 15.7461L14.1722 13.8045C14.1946 13.7857 14.2181 13.7681 14.2425 13.752C14.45 13.6136 14.6887 13.5292 14.937 13.5062C15.1853 13.4833 15.4354 13.5227 15.6647 13.6207L15.6769 13.6264L20.0934 15.6054C20.3909 15.7337 20.6389 15.9547 20.8003 16.2356C20.9616 16.5164 21.0278 16.842 20.9888 17.1636ZM19.5 16.9761C19.5 16.9761 19.4934 16.9761 19.4897 16.9761L15.0834 15.0026L12.8006 16.9442C12.7785 16.9629 12.7553 16.9805 12.7313 16.9967C12.5154 17.1407 12.2659 17.2262 12.0071 17.245C11.7483 17.2637 11.489 17.215 11.2547 17.1036C9.49876 16.2551 7.74845 14.5179 6.89907 12.7807C6.7866 12.5481 6.73613 12.2904 6.75255 12.0325C6.76898 11.7746 6.85174 11.5254 6.99282 11.3089C7.00872 11.2835 7.02659 11.2593 7.04626 11.2367L9.00001 8.92012L7.03126 4.51387C7.03089 4.51013 7.03089 4.50636 7.03126 4.50262C6.12212 4.62122 5.28739 5.06715 4.68339 5.75692C4.0794 6.44669 3.74755 7.33297 3.75001 8.24981C3.75348 11.4313 5.01888 14.4816 7.26856 16.7313C9.51825 18.9809 12.5685 20.2463 15.75 20.2498C16.6663 20.253 17.5523 19.9223 18.2425 19.3196C18.9327 18.7169 19.3797 17.8835 19.5 16.9751V16.9761Z"
                              fill="#033256" />
                    </svg>
                    036 5809 316
                </a>
                <a href="" class="flex items-center gap-2 hover:text-red-500">
                    <svg width="24" height="24"
                         viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21 4.5H3C2.80109 4.5 2.61032 4.57902 2.46967 4.71967C2.32902 4.86032 2.25 5.05109 2.25 5.25V18C2.25 18.3978 2.40804 18.7794 2.68934 19.0607C2.97064 19.342 3.35218 19.5 3.75 19.5H20.25C20.6478 19.5 21.0294 19.342 21.3107 19.0607C21.592 18.7794 21.75 18.3978 21.75 18V5.25C21.75 5.05109 21.671 4.86032 21.5303 4.71967C21.3897 4.57902 21.1989 4.5 21 4.5ZM12 12.4828L4.92844 6H19.0716L12 12.4828ZM9.25406 12L3.75 17.0447V6.95531L9.25406 12ZM10.3641 13.0172L11.4891 14.0531C11.6274 14.1801 11.8084 14.2506 11.9963 14.2506C12.1841 14.2506 12.3651 14.1801 12.5034 14.0531L13.6284 13.0172L19.0659 18H4.92844L10.3641 13.0172ZM14.7459 12L20.25 6.95438V17.0456L14.7459 12Z"
                              fill="#033256" />
                    </svg>
                    Bestmall@gmail.com
                </a>
                <a href="" class="flex items-center gap-2 hover:text-red-500">
                    <svg width="24" height="24"
                         viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.75 21H14.1131C14.892 20.3045 15.6266 19.5608 16.3125 18.7734C18.8859 15.8138 20.25 12.6938 20.25 9.75C20.25 7.56196 19.3808 5.46354 17.8336 3.91637C16.2865 2.36919 14.188 1.5 12 1.5C9.81196 1.5 7.71354 2.36919 6.16637 3.91637C4.61919 5.46354 3.75 7.56196 3.75 9.75C3.75 12.6938 5.11031 15.8138 7.6875 18.7734C8.37338 19.5608 9.10795 20.3045 9.88688 21H5.25C5.05109 21 4.86032 21.079 4.71967 21.2197C4.57902 21.3603 4.5 21.5511 4.5 21.75C4.5 21.9489 4.57902 22.1397 4.71967 22.2803C4.86032 22.421 5.05109 22.5 5.25 22.5H18.75C18.9489 22.5 19.1397 22.421 19.2803 22.2803C19.421 22.1397 19.5 21.9489 19.5 21.75C19.5 21.5511 19.421 21.3603 19.2803 21.2197C19.1397 21.079 18.9489 21 18.75 21ZM5.25 9.75C5.25 7.95979 5.96116 6.2429 7.22703 4.97703C8.4929 3.71116 10.2098 3 12 3C13.7902 3 15.5071 3.71116 16.773 4.97703C18.0388 6.2429 18.75 7.95979 18.75 9.75C18.75 15.1153 13.5497 19.5938 12 20.8125C10.4503 19.5938 5.25 15.1153 5.25 9.75ZM15.75 9.75C15.75 9.00832 15.5301 8.2833 15.118 7.66661C14.706 7.04993 14.1203 6.56928 13.4351 6.28545C12.7498 6.00162 11.9958 5.92736 11.2684 6.07205C10.541 6.21675 9.8728 6.5739 9.34835 7.09835C8.8239 7.6228 8.46675 8.29098 8.32205 9.01841C8.17736 9.74584 8.25162 10.4998 8.53545 11.1851C8.81928 11.8703 9.29993 12.456 9.91661 12.868C10.5333 13.2801 11.2583 13.5 12 13.5C12.9946 13.5 13.9484 13.1049 14.6517 12.4017C15.3549 11.6984 15.75 10.7446 15.75 9.75ZM9.75 9.75C9.75 9.30499 9.88196 8.86998 10.1292 8.49997C10.3764 8.12996 10.7278 7.84157 11.139 7.67127C11.5501 7.50097 12.0025 7.45642 12.439 7.54323C12.8754 7.63005 13.2763 7.84434 13.591 8.15901C13.9057 8.47368 14.12 8.87459 14.2068 9.31105C14.2936 9.7475 14.249 10.1999 14.0787 10.611C13.9084 11.0222 13.62 11.3736 13.25 11.6208C12.88 11.868 12.445 12 12 12C11.4033 12 10.831 11.7629 10.409 11.341C9.98705 10.919 9.75 10.3467 9.75 9.75Z"
                              fill="#033256" />
                    </svg>
                    D25-47, Khu D, Khu đô thị Geleximco, Lê Trọng Tấn, Dương Nội, Hà Đông, Hà Nội
                </a>
            </div>
            <!-- 3 CỘT NHỎ: Về Best Mall, Chính sách, Kết nối -->
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <!-- Về Best Mall -->
                <div>
                    <h4 class="font-semibold mb-2">VỀ BEST MALL</h4>
                    @* <ul class="space-y-1"> *@
                    @*     <li><a href="#" class="hover:text-red-500">Về chúng tôi</a></li> *@
                    @*     <li><a href="#" class="hover:text-red-500">Câu chuyện thương hiệu</a></li> *@
                    @*     <li><a href="#" class="hover:text-red-500">Liên hệ</a></li> *@
                    @* </ul> *@
                    <ul class="AboutHulotoy-footer space-y-1">
                    </ul>

                </div>

                <!-- Chính sách -->
                <div class="md:col-span-2">
                    <h4 class="font-semibold mb-2">CHÍNH SÁCH</h4>
                    @* <ul class="space-y-1 grid md:grid-cols-2"> *@
                    @*     <li><a href="#" class="hover:text-red-500">Chính sách & giao nhận</a></li> *@
                    @*     <li><a href="#" class="hover:text-red-500">Chính sách bảo mật</a></li> *@
                    @*     <li><a href="#" class="hover:text-red-500">Điều khoản sử dụng</a></li> *@
                    @*     <li><a href="#" class="hover:text-red-500">Chính sách vận chuyển</a></li> *@
                    @* </ul> *@
                    <ul class="policy-footer space-y-1 grid md:grid-cols-2">
                    </ul>

                </div>

            </div>
        </div>

        <!-- BÊN PHẢI: Form + Facebook + 3 cột nhỏ -->
        <div class="space-y-6">
            <!-- FORM ĐĂNG KÝ & FACEBOOK -->
            <div id="PromotionNoti" class="PromotionNoti" style="display:none;justify-content:center">
                <strong style="text-align:center">Thông báo:</strong>
            </div>

            <div class="space-y-3 form-search">
                <h4 class="font-semibold mb-2">ĐĂNG KÝ NHẬN KHUYẾN MẠI</h4>

                <form class="flex flex-col sm:flex-row gap-2 relative ">
                    <span class="absolute left-2 top-1/2 -translate-y-1/2">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M21 4.5H3C2.80109 4.5 2.61032 4.57902 2.46967 4.71967C2.32902 4.86032 2.25 5.05109 2.25 5.25V18C2.25 18.3978 2.40804 18.7794 2.68934 19.0607C2.97064 19.342 3.35218 19.5 3.75 19.5H20.25C20.6478 19.5 21.0294 19.342 21.3107 19.0607C21.592 18.7794 21.75 18.3978 21.75 18V5.25C21.75 5.05109 21.671 4.86032 21.5303 4.71967C21.3897 4.57902 21.1989 4.5 21 4.5ZM12 12.4828L4.92844 6H19.0716L12 12.4828ZM9.25406 12L3.75 17.0447V6.95531L9.25406 12ZM10.3641 13.0172L11.4891 14.0531C11.6274 14.1801 11.8084 14.2506 11.9963 14.2506C12.1841 14.2506 12.3651 14.1801 12.5034 14.0531L13.6284 13.0172L19.0659 18H4.92844L10.3641 13.0172ZM14.7459 12L20.25 6.95438V17.0456L14.7459 12Z"
                                  fill="#773EFA" />
                        </svg>
                    </span>

                    <input id="Email-text" type="email" placeholder="Nhập email của bạn"
                           class="flex-1 pl-10 pr-26 py-2 border border-gray-200 rounded-full focus:outline-none" />
                    <button type="button"
                            class="absolute right-1 top-1 bottom-1 bg-blue-500 text-sm text-white px-6 rounded-full" onclick="_feedback.CreateEmailPromotion()">
                        Đăng
                        ký
                    </button>
                </form>
                <div class="w-full">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FMetaVietnam&tabs&width=300&height=130&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                            width="100%" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowfullscreen="true"
                            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
                    </iframe>
                </div>
            </div>

            <!-- 3 CỘT NHỎ: Về Best Mall, Chính sách, Kết nối -->
            <!-- Kết nối & thanh toán -->

            <div class="flex flex-wrap items-start gap-2 mb-5">
                <div>
                    <h4 class="font-semibold mb-2">PHƯƠNG THỨC THANH TOÁN</h4>
                    <div class="flex flex-wrap items-center gap-2">
                        <img src="/assets/images/mastercard.png" class="h-8" />
                        <img src="/assets/images/visa.png" class="h-8" />
                        <img src="/assets/images/jcb.png" class="h-8" />
                    </div>
                </div>
                <div>
                    <img src="/assets/images/icon/thongbao.png" class="h-10" />
                    <img src="/assets/images/icon/dangky.png" class="h-10" />
                </div>

            </div>
            <h4 class="font-semibold mb-2">KẾT NỐI</h4>
            <div class="flex gap-3 mb-3">
                <a href="https://www.facebook.com/profile.php?id=100015621963389&locale=vi_VN">
                    <svg width="26" height="25" viewBox="0 0 26 25" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_467_1293)">
                            <path d="M21.9814 3.62394e-07H3.71895C3.27642 -0.000204889 2.8382 0.086779 2.4293 0.255983C2.0204 0.425186 1.64885 0.673294 1.33587 0.986132C1.02289 1.29897 0.774606 1.67041 0.605213 2.07922C0.43582 2.48804 0.348633 2.92623 0.348633 3.36875L0.348633 21.6313C0.348633 22.0738 0.43582 22.512 0.605213 22.9208C0.774606 23.3296 1.02289 23.701 1.33587 24.0139C1.64885 24.3267 2.0204 24.5748 2.4293 24.744C2.8382 24.9132 3.27642 25.0002 3.71895 25H12.726L12.7416 16.0664H10.4205C10.2755 16.0664 10.1364 16.0088 10.0338 15.9062C9.93125 15.8037 9.87363 15.6646 9.87363 15.5195L9.8627 12.6398C9.8627 12.4948 9.92031 12.3557 10.0229 12.2531C10.1254 12.1506 10.2645 12.093 10.4096 12.093H12.726V9.30859C12.726 6.07969 14.6979 4.32109 17.5783 4.32109H19.9424C20.0874 4.32109 20.2265 4.37871 20.3291 4.48127C20.4316 4.58383 20.4893 4.72293 20.4893 4.86797V7.29766C20.4893 7.4427 20.4316 7.5818 20.3291 7.68436C20.2265 7.78691 20.0874 7.84453 19.9424 7.84453H18.4916C16.9252 7.84453 16.6221 8.58906 16.6221 9.68125V12.0898H20.0643C20.1419 12.0893 20.2189 12.1053 20.2899 12.1368C20.3609 12.1683 20.4244 12.2145 20.4761 12.2725C20.5279 12.3304 20.5667 12.3987 20.59 12.4729C20.6132 12.547 20.6205 12.6252 20.6111 12.7023L20.2705 15.5828C20.2547 15.7165 20.1902 15.8396 20.0893 15.9287C19.9884 16.0178 19.8582 16.0666 19.7236 16.0656H16.6377L16.6221 25H21.9814C22.8746 24.9996 23.7311 24.6445 24.3625 24.0128C24.9939 23.381 25.3486 22.5244 25.3486 21.6313V3.36875C25.3486 2.47557 24.9939 1.61896 24.3625 0.987237C23.7311 0.355518 22.8746 0.000414638 21.9814 3.62394e-07Z"
                                  fill="#098EF7" />
                        </g>
                        <defs>
                            <clipPath id="clip0_467_1293">
                                <rect width="25" height="25" fill="white" transform="translate(0.350098)" />
                            </clipPath>
                        </defs>
                    </svg>
                </a>
                <a href="#">
                    <svg width="26" height="25" viewBox="0 0 26 25" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_467_1298)">
                            <path d="M17.5376 0H8.1626C6.09059 0 4.10345 0.8231 2.63833 2.28823C1.1732 3.75336 0.350098 5.7405 0.350098 7.8125L0.350098 17.1875C0.350098 19.2595 1.1732 21.2466 2.63833 22.7118C4.10345 24.1769 6.09059 25 8.1626 25H17.5376C19.6096 25 21.5967 24.1769 23.0619 22.7118C24.527 21.2466 25.3501 19.2595 25.3501 17.1875V7.8125C25.3501 5.7405 24.527 3.75336 23.0619 2.28823C21.5967 0.8231 19.6096 0 17.5376 0ZM23.0063 17.1875C23.0047 18.6374 22.428 20.0274 21.4028 21.0527C20.3775 22.0779 18.9875 22.6546 17.5376 22.6562H8.1626C6.7127 22.6546 5.32267 22.0779 4.29743 21.0527C3.2722 20.0274 2.6955 18.6374 2.69385 17.1875V7.8125C2.6955 6.36261 3.2722 4.97257 4.29743 3.94734C5.32267 2.92211 6.7127 2.3454 8.1626 2.34375H17.5376C18.9875 2.3454 20.3775 2.92211 21.4028 3.94734C22.428 4.97257 23.0047 6.36261 23.0063 7.8125V17.1875Z"
                                  fill="#098EF7" />
                            <path d="M12.8501 6.25C11.614 6.25 10.4056 6.61655 9.37778 7.30331C8.34998 7.99007 7.5489 8.96619 7.07585 10.1082C6.60281 11.2503 6.47903 12.5069 6.72019 13.7193C6.96135 14.9317 7.5566 16.0453 8.43068 16.9194C9.30476 17.7935 10.4184 18.3888 11.6308 18.6299C12.8432 18.8711 14.0998 18.7473 15.2419 18.2742C16.3839 17.8012 17.36 17.0001 18.0468 15.9723C18.7336 14.9445 19.1001 13.7361 19.1001 12.5C19.1001 10.8424 18.4416 9.25268 17.2695 8.08058C16.0974 6.90848 14.5077 6.25 12.8501 6.25ZM12.8501 16.4062C12.0775 16.4062 11.3223 16.1772 10.6799 15.7479C10.0375 15.3187 9.53685 14.7086 9.24119 13.9949C8.94554 13.2811 8.86818 12.4957 9.01891 11.7379C9.16963 10.9802 9.54166 10.2842 10.088 9.73786C10.6343 9.19156 11.3303 8.81953 12.088 8.6688C12.8458 8.51808 13.6312 8.59544 14.345 8.89109C15.0587 9.18675 15.6688 9.68743 16.098 10.3298C16.5273 10.9722 16.7564 11.7274 16.7564 12.5C16.7549 13.5356 16.3429 14.5283 15.6106 15.2605C14.8784 15.9928 13.8857 16.4048 12.8501 16.4062Z"
                                  fill="#098EF7" />
                            <path d="M19.5689 7.39512C20.4603 7.39512 21.183 6.67248 21.183 5.78105C21.183 4.88963 20.4603 4.16699 19.5689 4.16699C18.6775 4.16699 17.9548 4.88963 17.9548 5.78105C17.9548 6.67248 18.6775 7.39512 19.5689 7.39512Z"
                                  fill="#098EF7" />
                        </g>
                        <defs>
                            <clipPath id="clip0_467_1298">
                                <rect width="25" height="25" fill="white" transform="translate(0.350098)" />
                            </clipPath>
                        </defs>
                    </svg>
                </a>
                <a href="#">
                    <svg width="22" height="25" viewBox="0 0 22 25" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_467_1305)">
                            <path d="M20.8256 13.0464C20.7125 12.5164 20.4313 12.0371 20.0238 11.6798C19.6261 11.3203 19.1259 11.0944 18.5932 11.0337C16.8819 10.8498 14.3008 10.7578 10.85 10.7578C7.39929 10.7578 4.82296 10.8498 3.12106 11.0337C2.58576 11.0916 2.08262 11.3178 1.68407 11.6798C1.2791 12.0404 0.996193 12.518 0.874472 13.0464C0.588736 14.6403 0.467273 16.2594 0.511993 17.8781C0.463765 19.497 0.585255 21.1164 0.874472 22.7099C0.988042 23.2399 1.26946 23.7191 1.67696 24.0765C2.0728 24.4366 2.57428 24.6593 3.10685 24.7116C5.68124 24.941 8.26571 25.0378 10.85 25.0017C13.4342 25.0378 16.0184 24.941 18.5926 24.7116C19.1228 24.6597 19.6217 24.4368 20.0141 24.0765C20.4189 23.7158 20.7016 23.2383 20.823 22.7099C21.109 21.116 21.2307 19.4969 21.1862 17.8781C21.2349 16.2594 21.1141 14.64 20.8256 13.0464ZM6.41696 14.4407H4.92441V22.2951H3.52618V14.4407H2.06141V13.1433H6.41438V14.4407H6.41696ZM10.1839 22.2951H8.9388V21.5494C8.77318 21.7805 8.56125 21.9745 8.31651 22.1191C8.07177 22.2637 7.7996 22.3558 7.51732 22.3894C7.34418 22.4115 7.16875 22.3727 7.02114 22.2795C6.87352 22.1864 6.76294 22.0448 6.70836 21.879C6.62066 21.5505 6.58298 21.2107 6.59658 20.871V15.4739H7.83844V20.4982C7.83284 20.6594 7.83759 20.8209 7.85266 20.9815C7.88066 21.1749 7.97822 21.2716 8.14535 21.2716C8.39648 21.2716 8.66161 21.0778 8.94074 20.6901V15.472H10.1826V22.2912L10.1839 22.2951ZM14.9271 20.252C14.949 20.7159 14.9069 21.1805 14.8018 21.6328C14.7538 21.8572 14.6274 22.0572 14.4453 22.1968C14.2632 22.3364 14.0372 22.4066 13.808 22.3946C13.5487 22.3733 13.2975 22.2941 13.0729 22.1627C12.8483 22.0313 12.6561 21.8511 12.5106 21.6354V22.2977H11.2694V13.1433H12.5106V16.1388C12.6549 15.9231 12.8471 15.7436 13.0721 15.6144C13.2971 15.4852 13.549 15.4097 13.808 15.3938C14.0384 15.3841 14.2646 15.4568 14.4462 15.5989C14.6277 15.741 14.7526 15.9432 14.7985 16.1691C14.9045 16.6165 14.9467 17.0765 14.9239 17.5357L14.9271 20.252ZM19.6439 19.12H17.142V20.3212C17.142 20.9561 17.3559 21.2735 17.7837 21.2735C17.9234 21.2808 18.0603 21.2327 18.1648 21.1397C18.2693 21.0467 18.3329 20.9163 18.3419 20.7767C18.3685 20.4975 18.3777 20.217 18.3697 19.9367H19.6393V20.1163C19.6478 20.3835 19.6385 20.6509 19.6115 20.9169C19.5762 21.1854 19.4757 21.4411 19.3189 21.6619C19.1519 21.9034 18.9254 22.0977 18.6613 22.226C18.3972 22.3544 18.1045 22.4125 17.8114 22.3946C17.5222 22.4072 17.2342 22.3498 16.9719 22.2273C16.7095 22.1048 16.4807 21.9208 16.3047 21.6909C15.9976 21.2162 15.8554 20.6535 15.9002 20.0898V17.6992C15.8556 17.1378 15.9914 16.5768 16.2879 16.0981C16.468 15.878 16.6947 15.7006 16.9517 15.5789C17.2087 15.4571 17.4896 15.3939 17.774 15.3939C18.0584 15.3939 18.3392 15.4571 18.5962 15.5789C18.8532 15.7006 19.0799 15.878 19.2601 16.0981C19.5482 16.5799 19.6798 17.1393 19.6367 17.6992V19.1206L19.6439 19.12Z"
                                  fill="#098EF7" />
                            <path d="M13.1385 16.4619C13.02 16.4684 12.9039 16.4986 12.7973 16.5508C12.6906 16.6029 12.5955 16.676 12.5176 16.7656V20.9202C12.5954 21.0098 12.6905 21.0829 12.7972 21.1351C12.9039 21.1873 13.0199 21.2175 13.1385 21.2239C13.4973 21.2239 13.677 20.9157 13.6774 20.2993V17.3872C13.6774 16.7703 13.4978 16.4619 13.1385 16.4619Z"
                                  fill="#098EF7" />
                            <path d="M17.8055 16.4326C17.3915 16.4326 17.1846 16.7453 17.1846 17.3708V18.0059H18.4245V17.374C18.4245 16.7464 18.2182 16.4326 17.8055 16.4326Z"
                                  fill="#098EF7" />
                            <path d="M5.59706 5.5076V9.24868H6.97719V5.5076L8.64743 0H7.23952L6.30134 3.6306L5.32052 0H3.85962C4.11807 0.7732 4.41723 1.6347 4.75709 2.58451C5.10018 3.53963 5.38076 4.51605 5.59706 5.5076Z"
                                  fill="#098EF7" />
                            <path d="M10.5567 9.34581C10.84 9.35992 11.1222 9.30285 11.3778 9.17983C11.6333 9.05681 11.8539 8.87174 12.0195 8.64153C12.3169 8.15285 12.4525 7.58286 12.4072 7.01264V4.59871C12.4514 4.03287 12.3157 3.46754 12.0195 2.98338C11.8456 2.76384 11.6242 2.58648 11.372 2.46455C11.1198 2.34263 10.8433 2.2793 10.5632 2.2793C10.2831 2.2793 10.0066 2.34263 9.75435 2.46455C9.50216 2.58648 9.28079 2.76384 9.10681 2.98338C8.81059 3.46752 8.67491 4.03287 8.71912 4.59871V7.01458C8.67649 7.58459 8.81196 8.15377 9.10681 8.64347C9.27199 8.87084 9.49075 9.05392 9.74369 9.17644C9.99662 9.29896 10.2759 9.35714 10.5567 9.34581ZM9.96292 4.34865C9.96292 3.71372 10.1608 3.39626 10.5567 3.39626C10.9526 3.39626 11.1505 3.71372 11.1505 4.34865V7.24783C11.1505 7.89396 10.9526 8.21702 10.5567 8.21702C10.1608 8.21702 9.96292 7.89396 9.96292 7.24783V4.34865Z"
                                  fill="#098EF7" />
                            <path d="M14.4128 9.345C14.6975 9.31323 14.9719 9.22027 15.2172 9.0725C15.4626 8.92473 15.6731 8.72564 15.8343 8.48888V9.24808H17.0904V2.36035H15.8349V7.61984C15.5588 8.0157 15.2965 8.21363 15.0479 8.21363C14.8821 8.21363 14.7854 8.1124 14.7578 7.90995C14.7425 7.74933 14.738 7.58787 14.7443 7.42664V2.361H13.4895V7.79946C13.4754 8.14762 13.5126 8.49596 13.6 8.83327C13.657 8.9983 13.7687 9.13894 13.9165 9.23198C14.0642 9.32501 14.2393 9.36488 14.4128 9.345Z"
                                  fill="#098EF7" />
                        </g>
                        <defs>
                            <clipPath id="clip0_467_1305">
                                <rect width="20.6761" height="25" fill="white" transform="translate(0.511963)" />
                            </clipPath>
                        </defs>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>