<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/css/jquery-ui.css">
    <link rel="stylesheet" href="/assets/css/select2.min.css">
    <link rel="stylesheet" href="/assets/css/lightgallery-bundle.css" />
    
    
     @* <link rel="stylesheet" href="/assets/css/main.min.css">  *@
    <script src="/assets/js/tailwindcss.js"></script>
    <link rel="stylesheet" href="/assets/css/main.css">
   
    <link rel="stylesheet" href="/custom/site.css">
   

    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet" />


    <title>@ViewData["Title"]</title>
    <link type="image/x-icon" href="~/images/img-search.png" rel="shortcut icon" />
    <!-- CSS-->
    @RenderSection("Styles", required: false)
    <style>
        .bg-blue-100 {
            background-color: #EBE2FE !important;
        }
        .bg-orange-500 {
            background-color: #FF4169 !important;
        }
    </style>
</head>
<body class="text-sky-900 bg-[#F9FBFC]">
    <partial name="_Header" />
    <partial name="_Login" /> 

    <section id="main">
        @RenderBody()
    </section>
    <partial name="_Footer" />
    <div class="backToTopBtn w-10 h-10 fixed z-10 right-8 bottom-8 flex items-center justify-center cursor-pointer bg-blue-500 rounded-md">
        <svg width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.39731 0.227219L13.0223 5.8522C13.0746 5.90447 13.116 5.96651 13.1443 6.03479C13.1726 6.10308 13.1872 6.17626 13.1872 6.25017C13.1872 6.32408 13.1726 6.39727 13.1443 6.46555C13.116 6.53384 13.0746 6.59588 13.0223 6.64814C12.97 6.7004 12.908 6.74186 12.8397 6.77014C12.7714 6.79843 12.6982 6.81299 12.6243 6.81299C12.5504 6.81299 12.4772 6.79843 12.409 6.77014C12.3407 6.74186 12.2786 6.7004 12.2264 6.64814L6.99934 1.42042L1.7723 6.64814C1.66676 6.75369 1.5236 6.81299 1.37434 6.81299C1.22507 6.81299 1.08192 6.75369 0.976373 6.64814C0.870823 6.54259 0.811523 6.39944 0.811523 6.25017C0.811523 6.10091 0.870823 5.95775 0.976373 5.8522L6.60137 0.227219C6.65361 0.174919 6.71565 0.133418 6.78393 0.105118C6.85222 0.0768178 6.92542 0.0622187 6.99934 0.0622187C7.07326 0.0622187 7.14645 0.0768178 7.21474 0.105118C7.28303 0.133418 7.34506 0.174919 7.39731 0.227219Z"
                  fill="white" />
        </svg>

    </div>
     <partial name="_Lightbox"/> 
  

    <script asp-append-version="true" src="/assets/js/jquery.min.js"></script>
    <script asp-append-version="true" src="/assets/js/swiper-bundle.min.js"></script>
    <script asp-append-version="true" src="/assets/js/jquery-ui.js"></script>
    <script asp-append-version="true" src="/assets/js/common.js"></script>
    <script asp-append-version="true" src="/custom/jquery.magnific-popup.min.js"></script>
    <script asp-append-version="true" src="/assets/js/select2.min.js"></script>
    <script src="/modules/constants.js" asp-append-version="true"></script>
    <script src="/modules/services.js" asp-append-version="true"></script>
    <script src="/modules/global.js" asp-append-version="true"></script>
    
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet" />

    <!-- lightgallery-->
    <script src="/assets/js/lightgallery.min.js"></script>
    <script src="/assets/js/video.min.js"></script>
    <script src="/assets/js/lightgallery.umd.js"></script>
    <script src="/assets/js/lg-video.umd.js"></script>
    <script src="/assets/js/lg-thumbnail.min.js"></script>
    <!-- end lightgallery-->

    <!-- Modules-->
    <script asp-append-version="true" src="/modules/account.js"></script>
    <script asp-append-version="true" src="/modules/account_google.js"></script>
    <script asp-append-version="true" src="/modules/home_product.js"></script>
    <script asp-append-version="true" src="~/modules/support.js"></script>
    <script type="text/javascript" src="~/modules/feedback.js" asp-append-version="true"></script>
    <script src="https://accounts.google.com/gsi/client" async></script>
    @* <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v20.0" nonce="P6zkdA3O"></script> *@

    <script>
        // js banner
        new Swiper(".banner-slide", {
            loop: true,
            pagination: {
                el: ".banner-slide .swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".banner-slide .swiper-button-next",
                prevEl: ".banner-slide .swiper-button-prev",
            },
        });
        // js slide sản phẩm 5 cột
        const flashSaleSwiper = new Swiper(".flash-sale-swiper .swiper", {
            slidesPerView: 2,
            spaceBetween: 15,
            navigation: {
                nextEl: ".flash-sale-swiper .swiper-button-next",
                prevEl: ".flash-sale-swiper .swiper-button-prev",
            },
            breakpoints: {
                640: {
                    slidesPerView: 2.5,
                },
                768: {
                    slidesPerView: 3.5,
                },
                1024: {
                    slidesPerView: 5,
                },
            },
        });
        const brandsSwiper = new Swiper(".brands-swiper .swiper", {
            slidesPerView: 2,
            spaceBetween: 15,
            navigation: {
                nextEl: ".brands-swiper .swiper-button-next",
                prevEl: ".brands-swiper .swiper-button-prev",
            },
            breakpoints: {
                640: {
                    slidesPerView: 2.5,
                },
                768: {
                    slidesPerView: 3.5,
                },
                1024: {
                    slidesPerView: 5,
                },
            },
        });
        // js slide sản phẩm 4 cột
        const productSwiper = new Swiper(".product-swiper .swiper", {
            slidesPerView: 2,
            spaceBetween: 15,
            navigation: {
                nextEl: ".product-swiper .swiper-button-next",
                prevEl: ".product-swiper .swiper-button-prev",
            },
            breakpoints: {
                640: {
                    slidesPerView: 2.5,
                },
                768: {
                    slidesPerView: 3.5,
                },
                1024: {
                    slidesPerView: 4,
                },
            },
        });
    </script>
    <script>
        // Thiết lập thời gian kết thúc - ví dụ hôm nay lúc 23:59:59
        const now = new Date();
        const endTime = new Date();
        endTime.setHours(23, 59, 59, 999); // Hết ngày

        function updateCountdown() {
            const currentTime = new Date().getTime();
            const timeLeft = endTime - currentTime;

            if (timeLeft <= 0) {
                document.getElementById('hours').textContent = '00';
                document.getElementById('minutes').textContent = '00';
                document.getElementById('seconds').textContent = '00';
                clearInterval(timer);
                return;
            }

            const hours = String(Math.floor(timeLeft / (1000 * 60 * 60))).padStart(2, '0');
            const minutes = String(Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60))).padStart(2, '0');
            const seconds = String(Math.floor((timeLeft % (1000 * 60)) / 1000)).padStart(2, '0');

            document.getElementById('hours').textContent = hours;
            document.getElementById('minutes').textContent = minutes;
            document.getElementById('seconds').textContent = seconds;
        }

        const timer = setInterval(updateCountdown, 1000);
        updateCountdown(); // chạy lần đầu
    </script>


    <script>
        const menuBtn = document.getElementById('menuToggle');
        const closeBtn = document.getElementById('menuClose');
        const mobileMenu = document.getElementById('mobileMenu');

        menuBtn.addEventListener('click', () => {
            mobileMenu.classList.remove('-translate-x-full');
        });

        closeBtn.addEventListener('click', () => {
            mobileMenu.classList.add('-translate-x-full');
        });
    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
    


    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
