@{
    Layout = null;
}

<!-- Lightbox thành công-->
<div id="thanhcong" class="overlay form-noti">
    <div class="popup">
        <a class="close" href="javascript:;">
            <i class="icon icon-close"></i>
        </a>
        <div class="content">
            <img src="/assets/images/check.svg" alt="">
            <h4>Thành công</h4>
            <p class="lightbox-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <a href="javascript:;" class="btn btn-line btn-close">Đóng</a>
        </div>
    </div>
</div>
<div id="thatbai" class="overlay form-noti">
    <div class="popup">
        <a class="close" href="#">
            <i class="icon icon-close"></i>
        </a>
        <div class="content">
            <img src="/assets/images/error.svg" />
            <h4>LỖI</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <a href="" class="btn btn-line">Đóng</a>
        </div>
    </div>
</div>
<div id="danhgia" class="overlay form-review">
    <div class="popup">
        <a class="close" href="javascript:;">
            <i class="icon icon-close"></i>
        </a>
        <h4 class="title">đánh giá</h4>
        <div class="content">
            <div class="list-product-rate">
                <div class="item">
                    <div class="box-product">
                        <div class="img">
                            <img src="/assets/images/product.jpg" alt="" />
                        </div>
                        <div class="info">
                            <h3 class="name-product">
                                Gấu Bông Mèo Hoàng Thượng Cosplay, Thú Nhồi Bông An Toàn
                                Cho Bé
                            </h3>
                            <div class="cat">Phân loại hàng: Gấu Trúc, 40cm</div>
                        </div>
                    </div>
                    <div class="star">
                        <span>Chất lượng sản phẩm</span>
                        <span class="rate five">
                            <i>★</i><i>★</i><i>★</i><i>★</i><i>★</i> Tuyệt vời
                        </span>
                    </div>
                    <div class="star">
                        <span>Chất lượng sản phẩm</span>
                        <span class="rate four">
                            <i>★</i><i>★</i><i>★</i><i>★</i><i>★</i> Hài lòng
                        </span>
                    </div>
                    <div class="star">
                        <span>Chất lượng sản phẩm</span>
                        <span class="rate three">
                            <i>★</i><i>★</i><i>★</i><i>★</i><i>★</i> Bình thường
                        </span>
                    </div>
                    <div class="star">
                        <span>Chất lượng sản phẩm</span>
                        <span class="rate two">
                            <i>★</i><i>★</i><i>★</i><i>★</i><i>★</i> Không hài lòng
                        </span>
                    </div>
                    <div class="star ">
                        <span>Chất lượng sản phẩm</span>
                        <span class="rate one">
                            <i>★</i><i>★</i><i>★</i><i>★</i><i>★</i> Tệ
                        </span>
                    </div>
                    <textarea rows="4" class="form-control"
                              placeholder="Hãy chia sẽ điều bạn thích về sản phẩm với những người mua khác nhé."></textarea>
                    <div class="upload-file">
                        <div class="uploadIMG">
                            <input type="file" class="upload" multiple/>
                            <span>Thêm hình ảnh</span>
                        </div>
                        <div class="uploadVIDEO">
                            <input type="file" class="upload" />
                            <span>Thêm video</span>
                        </div>
                    </div>
                    <div class="wrap-img-upload">
                        <div class="item">
                            <img src="./assets/images/product.jpg" alt="" />
                            <div class="del"></div>
                        </div>
                        <div class="item">
                            <img src="./assets/images/product.jpg" alt="" />
                            <div class="del"></div>
                        </div>
                        <div class="item">
                            <img src="./assets/images/product.jpg" alt="" />
                            <div class="del"></div>
                        </div>
                        <div class="uploadIMG">
                            <input type="file" class="upload" multiple />
                            <span>0/5</span>
                        </div>
                        <div class="uploadVIDEO">
                            <input type="file" class="upload" />
                            <span>0/1</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="action">
                <a href="javascript:;" class="btn btn-line btn-cancel">Trở lại</a>
                <a href="javascript:;" class="btn btn-base btn-confirm">Hoàn thành</a>
            </div>
        </div>

    </div>
</div>
<div id="dangxuat" class="overlay form-update-address">
    <div class="popup">
        <a class="close" href="javascript:;">
            <i class="icon icon-close"></i>
        </a>
        <div class="content">
            <h4 class="title-popup">Xác nhận đăng xuất tài khoản?</h4>
            <div class="action">
                <a href="javascript:;" class="btn btn-cancel">Hủy</a>
                <a id="account-logout" href="javascript:;" class="btn btn-base btn-logout">Đăng xuất</a>
            </div>
        </div>
    </div>
</div>