@{
    Layout = null;
}
<div class="header-user">
    <div class="avatar">
        <img src="/assets/images/product.jpg" alt="">
    </div>
    <div class="box-name">
        <span class="sayhi">Xin chào bạn</span>
        <h3 class="name">Lê Văn Cường</h3>
    </div>
</div>
<div class="list-tab-menu">
    <ul>
        <li class="sub-menu">
            <span><i class="icon icon-user-base"></i> Thông tin tài khoản </span>
            <ul>
                <li class="client-detail"><a href="javascript:;">Hồ sơ</a></li>
                <li class="client-address"><a href="/Client/Address">Địa chỉ</a></li>
                <li class="client-password"><a href="javascript:;">Đổi mật khẩu</a></li>
            </ul>
        </li>
        <li class="my-order-detail">
            <a href="/order"><i class="icon icon-order"></i>Đơn hàng của tôi</a>
        </li>
        <li class="sub-menu">
            <span><i class="icon icon-notifi-base"></i>Thông báo</span>
            <ul>
                <li class="orders"><a href="javascript:;">Đơn hàng</a></li>
                <li class="sale"><a href="javascript:;">Khuyến mãi</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;"><i class="icon icon-like"></i>Sản phẩm yêu thích</a>
        </li>
        <li>
            <a id="logout-action" href="javascript:;">Đăng xuất</a>
        </li>
    </ul>
</div>