@{
    // ViewData["Title"] = product.name +" | Hulotoys";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var product_code=(string)ViewBag.ProductCode;
}
<div class="section-details-product" data-code="@product_code">
    <div class="container">
        <div class="wrap-details">
            <div class="gallery-product">
                <div class="swiper thumb-big">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/assets/images/product.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/assets/images/product.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="swiper thumb-small">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/assets/images/product.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/assets/images/product.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-product">
                <div class="box-name-product">
                    <h1 class="name-product"> </h1>
                   @*  <div class="like"><i class="icon icon-like"></i></div> *@

                </div>
                <div class="box-review">
                    <div class="review">
                        <i class="icon icon-star"></i>
                        <i class="icon icon-star"></i>
                        <i class="icon icon-star"></i>
                        <i class="icon icon-star"></i>
                        <i class="icon icon-star"></i>
                        (<nw class="star">0</nw>)
                    </div>
                    <div class="total-sold"> (<nw class="buy-count">0</nw>) Đã bán</div>
                    <div class="total-review"> (<nw class="review-count">0</nw>) Đánh giá</div>
                </div>
                <div class="box-price">
                    <span class="price">0 đ</span>

                    <div class="price-old ">
                        So với giá cũ <b id="price-old"> 0 đ</b> <i class="icon icon-info"></i>
                        <div class="info-detail">
                            Giá sản phẩm <b>rẻ nhất</b> của đơn vị khác
                            được Hulo Toys nghiên cứu trên <b>mọi nền tảng</b>
                        </div>
                    </div>
                </div>
                <div class="box-info-details">
                    <table>
                        <tbody>
                            @*    <tr>
                            <td>Mã giảm giá</td>
                            <td>
                            <span class="coupon">30% giảm</span>
                            <span class="coupon">50% giảm</span>
                            </td>
                            </tr>
                            <tr>
                            <td>Combo khuyến mại</td>
                            <td> <span class="combo">Mua 3 giảm 50%</span></td>
                            </tr> *@
                            <tr>
                                <td>Vận chuyển</td>
                                <td>Miễn phí vận chuyển</td>
                            </tr>
                            <tr>
                                <td>Chính sách đổi trả</td>
                                <td>Đổi trả trong vòng 3 ngày</td>
                            </tr>
                            <tr>
                                <td>name</td>
                                <td>
                                    <ul class="box-tag">
                                        <li class="disabled">
                                            <img src="/assets/images/product.jpg" alt="" /> Gấu trúc
                                        </li>
                                        <li class="active"><img src="/assets/images/product.jpg" alt="" />Ếch xanh</li>
                                        <li class="attribute-detail" data-id="attribute_id"><img src="img" />name</li>

                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Số lượng:</td>
                                <td>
                                    <div class="number-input">
                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
                                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                class="plus"></button>
                                    </div>
                                    <span class="soluong">0 sản phẩm có sẵn</span>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-action">
                    <a href="javascript:;" class="btn add-cart">Thêm vào giỏ hàng</a>
                    <a href="javascript:;" class="btn buy-now">Mua ngay</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="combo-discount" class="section-category" >
    <div class="container">
        <div class="list-product-category">
            <div class="title-box">
                <h3 class="name-tt"><a href="">COMBO KHUYẾN MÃI</a></h3>
                <a href="" class="xemthem">Xem thêm</a>
            </div>
            <div class="product-category">
                <div class="list-product scroll-product">
                    <div class="item-product">
                        <a href="">
                            <div class="box-thumb">
                                <div class="thumb-product">
                                    <img src="/assets/images/product.jpg" alt="" />
                                </div>
                            </div>
                            <div class="box-info">
                                <h3 class="name-product">Đồ Chơi Lắp Ráp Tàu Vũ Trụ Lele Brother, Xếp Hình Cho Bé Từ 6 Tuổi</h3>
                                <div class="flex-price">
                                    <div class="price-sale">689,098đ</div>
                                    <div class="review">4.8<i class="icon icon-star"></i><span class="total-review">(322)</span></div>
                                </div>
                                <div class="price-old">
                                    So với giá cũ 767,009đ <i class="icon icon-info"></i>
                                    <div class="info-detail">
                                        Giá sản phẩm <b>rẻ nhất</b> của đơn vị khác
                                        được Hulo Toys nghiên cứu trên <b>mọi nền tảng</b>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-product">
                        <a href="">
                            <div class="box-thumb">
                                <div class="thumb-product">
                                    <img src="/assets/images/product.jpg" alt="" />
                                </div>
                            </div>
                            <div class="box-info">
                                <h3 class="name-product">Đồ Chơi Lắp Ráp Tàu Vũ Trụ Lele Brother, Xếp Hình Cho Bé Từ 6 Tuổi</h3>
                                <div class="flex-price">
                                    <div class="price-sale">689,098đ</div>
                                    <div class="review">4.8<i class="icon icon-star"></i><span class="total-review">(322)</span></div>
                                </div>
                                <div class="price-old">
                                    So với giá cũ 767,009đ <i class="icon icon-info"></i>
                                    <div class="info-detail">
                                        Giá sản phẩm <b>rẻ nhất</b> của đơn vị khác
                                        được Hulo Toys nghiên cứu trên <b>mọi nền tảng</b>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-product">
                        <a href="">
                            <div class="box-thumb">
                                <div class="thumb-product">
                                    <img src="/assets/images/product.jpg" alt="" />
                                </div>
                            </div>
                            <div class="box-info">
                                <h3 class="name-product">Đồ Chơi Lắp Ráp Tàu Vũ Trụ Lele Brother, Xếp Hình Cho Bé Từ 6 Tuổi</h3>
                                <div class="flex-price">
                                    <div class="price-sale">689,098đ</div>
                                    <div class="review">4.8<i class="icon icon-star"></i><span class="total-review">(322)</span></div>
                                </div>
                                <div class="price-old">
                                    So với giá cũ 767,009đ <i class="icon icon-info"></i>
                                    <div class="info-detail">
                                        Giá sản phẩm <b>rẻ nhất</b> của đơn vị khác
                                        được Hulo Toys nghiên cứu trên <b>mọi nền tảng</b>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-product">
                        <a href="">
                            <div class="box-thumb">
                                <div class="thumb-product">
                                    <img src="/assets/images/product.jpg" alt="" />
                                </div>
                            </div>
                            <div class="box-info">
                                <h3 class="name-product">Đồ Chơi Lắp Ráp Tàu Vũ Trụ Lele Brother, Xếp Hình Cho Bé Từ 6 Tuổi</h3>
                                <div class="flex-price">
                                    <div class="price-sale">689,098đ</div>
                                    <div class="review">4.8<i class="icon icon-star"></i><span class="total-review">(322)</span></div>
                                </div>
                                <div class="price-old">
                                    So với giá cũ 767,009đ <i class="icon icon-info"></i>
                                    <div class="info-detail">
                                        Giá sản phẩm <b>rẻ nhất</b> của đơn vị khác
                                        được Hulo Toys nghiên cứu trên <b>mọi nền tảng</b>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-product">
                        <a href="">
                            <div class="box-thumb">
                                <div class="thumb-product">
                                    <img src="/assets/images/product.jpg" alt="" />
                                </div>
                            </div>
                            <div class="box-info">
                                <h3 class="name-product">Đồ Chơi Lắp Ráp Tàu Vũ Trụ Lele Brother, Xếp Hình Cho Bé Từ 6 Tuổi</h3>
                                <div class="flex-price">
                                    <div class="price-sale">689,098đ</div>
                                    <div class="review">4.8<i class="icon icon-star"></i><span class="total-review">(322)</span></div>
                                </div>
                                <div class="price-old">
                                    So với giá cũ 767,009đ <i class="icon icon-info"></i>
                                    <div class="info-detail">
                                        Giá sản phẩm <b>rẻ nhất</b> của đơn vị khác
                                        được Hulo Toys nghiên cứu trên <b>mọi nền tảng</b>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-product">
                        <a href="">
                            <div class="box-thumb">
                                <div class="thumb-product">
                                    <img src="/assets/images/product.jpg" alt="" />
                                </div>
                            </div>
                            <div class="box-info">
                                <h3 class="name-product">Đồ Chơi Lắp Ráp Tàu Vũ Trụ Lele Brother, Xếp Hình Cho Bé Từ 6 Tuổi</h3>
                                <div class="flex-price">
                                    <div class="price-sale">689,098đ</div>
                                    <div class="review">4.8<i class="icon icon-star"></i><span class="total-review">(322)</span></div>
                                </div>
                                <div class="price-old">
                                    So với giá cũ 767,009đ <i class="icon icon-info"></i>
                                    <div class="info-detail">
                                        Giá sản phẩm <b>rẻ nhất</b> của đơn vị khác
                                        được Hulo Toys nghiên cứu trên <b>mọi nền tảng</b>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<div class="section-description-product">
    <div class="container">
        <div class="box-description">
            <div class="content-comment">
                <div class="box-des">
                    <h3 class="title">Chi tiết sản phẩm</h3>
                    <p id="description">

                    </p>
                </div>
            </div>
          
        </div>
    </div>
    <div id="container-comment" class="container">
        <div class="box-description">
            <div class="content-comment">
                <div class="box-des">
                    <div class="box-comment">
                        <h3 class="title">Đánh giá sản phẩm</h3>
                        <div class="box-review">
                            <div class="overview">
                                <div class="overview__briefing">
                                    <div class="overview__score-wrapper">
                                        <span class="overview__rating-score">(<nw class="star">0</nw>)</span>
                                        <span class="overview__rating-score-out-of"> trên 5 </span>
                                    </div>
                                    <div class="rating-stars overview__stars">
                                        <div class="rating-stars__stars">
                                            <i class="icon icon-star"></i>
                                            <i class="icon icon-star"></i>
                                            <i class="icon icon-star"></i>
                                            <i class="icon icon-star"></i>
                                            <i class="icon icon-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="overview__filters">
                                    <div id="overview_filter_all" class="overview__filter active" data-value="all">
                                        Tất cả (<nw class="count">0</nw>)
                                    </div>
                                    <div id="overview_filter_5" class="overview__filter" data-value="5">5 Sao (<nw class="count">0</nw>)</div>
                                    <div id="overview_filter_4" class="overview__filter" data-value="4">4 Sao (<nw class="count">0</nw>)</div>
                                    <div id="overview_filter_3" class="overview__filter" data-value="3">3 Sao (<nw class="count">0</nw>)</div>
                                    <div id="overview_filter_2" class="overview__filter" data-value="2">2 Sao (<nw class="count">0</nw>)</div>
                                    <div id="overview_filter_1" class="overview__filter" data-value="1">1 Sao (<nw class="count">0</nw>)</div>
                                    <div id="overview_filter_hascomment" class="overview__filter" data-value="comment">Có Bình luận (<nw class="count">0</nw>)</div>
                                    <div id="overview_filter_hasmedia" class="overview__filter" data-value="media">Có hình ảnh / video (<nw class="count">0</nw>)</div>
                                </div>
                            </div>
                            <div class="product-ratings__list">
                                <div class="product-comment-list">
                                   

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="wrap-paging">
                        <ul class="pagination">
                            <li class="page first"><a href=""><i class="icon icon-page-first"></i></a></li>
                            <li class="page previous disabled">
                                <a href=""><i class="icon icon-page-previous"></i></a>
                            </li>
                            <li class="page active"><a href="">1</a></li>
                            <li class="page"><a href="">2</a></li>
                            <li class="page"><a href="">...</a></li>
                            <li class="page"><a href="">3</a></li>
                            <li class="page next"><a href=""><i class="icon icon-page-next"></i></a></li>
                            <li class="page last"><a href=""><i class="icon icon-page-last"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="box-description">
            <div class="coupon-list">
                <div id="voucher" class="boxside" style="display:none;">
                    <div class="title-box">Voucher</div>
                    <div class="list-voucher">
                        @*  <div class="item">
                        <div class="img"><img src="/assets/images/voucher.png" alt="" /></div>
                        <div class="info">
                        <h4 class="name">Giảm đậm gơn 20%</h4>
                        <p class="date">7/9/2022</p>
                        <button class="btn save">Lưu</button>
                        </div>
                        </div>
                        <div class="item">
                        <div class="img"><img src="/assets/images/voucher.png" alt="" /></div>
                        <div class="info">
                        <h4 class="name">Giảm đậm gơn 20%</h4>
                        <p class="date">7/9/2022</p>
                        <button class="btn save">Lưu</button>
                        </div>
                        </div> *@
                    </div>
                </div>
                @* <div id="product-most" class="boxside">
                    <div class="title-box">Nổi bật</div>
                    <div class="list-product-most">
                          <div class="item-product">
                        <a href="">
                        <div class="box-thumb">
                        <div class="thumb-product">
                        <img src="/assets/images/product.jpg" alt="" />
                        </div>
                        </div>
                        <div class="box-info">
                        <h3 class="name-product">Đồ Chơi Lắp Ráp Tàu Vũ Trụ Lele Brother, Xếp Hình Cho Bé Từ 6 Tuổi</h3>
                        <div class="flex-price">
                        <div class="price-sale">689,098đ</div>
                        <div class="review">4.8<i class="icon icon-star"></i><span class="total-review">(322)</span></div>
                        </div>
                        <div class="price-old">
                        So với giá cũ 767,009đ <i class="icon icon-info"></i>
                        <div class="info-detail">
                        Giá sản phẩm <b>rẻ nhất</b> của đơn vị khác
                        được Hulo Toys nghiên cứu trên <b>mọi nền tảng</b>
                        </div>
                        </div>
                        </div>
                        </a>
                        </div>
                        <div class="item-product">
                        <a href="">
                        <div class="box-thumb">
                        <div class="thumb-product">
                        <img src="/assets/images/product.jpg" alt="" />
                        </div>
                        </div>
                        <div class="box-info">
                        <h3 class="name-product">Đồ Chơi Lắp Ráp Tàu Vũ Trụ Lele Brother, Xếp Hình Cho Bé Từ 6 Tuổi</h3>
                        <div class="flex-price">
                        <div class="price-sale">689,098đ</div>
                        <div class="review">4.8<i class="icon icon-star"></i><span class="total-review">(322)</span></div>
                        </div>
                        <div class="price-old">
                        So với giá cũ 767,009đ <i class="icon icon-info"></i>
                        <div class="info-detail">
                        Giá sản phẩm <b>rẻ nhất</b> của đơn vị khác
                        được Hulo Toys nghiên cứu trên <b>mọi nền tảng</b>
                        </div>
                        </div>
                        </div>
                        </a>
                        </div>
                        <div class="item-product">
                        <a href="">
                        <div class="box-thumb">
                        <div class="thumb-product">
                        <img src="/assets/images/product.jpg" alt="" />
                        </div>
                        </div>
                        <div class="box-info">
                        <h3 class="name-product">Đồ Chơi Lắp Ráp Tàu Vũ Trụ Lele Brother, Xếp Hình Cho Bé Từ 6 Tuổi</h3>
                        <div class="flex-price">
                        <div class="price-sale">689,098đ</div>
                        <div class="review">4.8<i class="icon icon-star"></i><span class="total-review">(322)</span></div>
                        </div>
                        <div class="price-old">
                        So với giá cũ 767,009đ <i class="icon icon-info"></i>
                        <div class="info-detail">
                        Giá sản phẩm <b>rẻ nhất</b> của đơn vị khác
                        được Hulo Toys nghiên cứu trên <b>mọi nền tảng</b>
                        </div>
                        </div>
                        </div>
                        </a>
                        </div>
                        <div class="item-product">
                        <a href="">
                        <div class="box-thumb">
                        <div class="thumb-product">
                        <img src="/assets/images/product.jpg" alt="" />
                        </div>
                        </div>
                        <div class="box-info">
                        <h3 class="name-product">Đồ Chơi Lắp Ráp Tàu Vũ Trụ Lele Brother, Xếp Hình Cho Bé Từ 6 Tuổi</h3>
                        <div class="flex-price">
                        <div class="price-sale">689,098đ</div>
                        <div class="review">4.8<i class="icon icon-star"></i><span class="total-review">(322)</span></div>
                        </div>
                        <div class="price-old">
                        So với giá cũ 767,009đ <i class="icon icon-info"></i>
                        <div class="info-detail">
                        Giá sản phẩm <b>rẻ nhất</b> của đơn vị khác
                        được Hulo Toys nghiên cứu trên <b>mọi nền tảng</b>
                        </div>
                        </div>
                        </div>
                        </a>
                        </div>
                    </div>
                </div> *@
            </div>
        </div>
    </div>
</div>
<div id="product-alike" class="section-category" style="display:none;">
    <div class="container">
        <div class="list-product-category">
            <div class="title-box">
                <h3 class="name-tt"><a href="">CÓ THỂ BẠN CŨNG THÍCH</a></h3>
                <a href="" class="xemthem">Xem thêm</a>
            </div>
            <div class="product-category">
                <div class="list-product scroll-product">
                    <div class="item-product">
                        <a href="">
                            <div class="box-thumb">
                                <div class="thumb-product">
                                    <img src="/assets/images/product.jpg" alt="" />
                                </div>
                            </div>
                            <div class="box-info">
                                <h3 class="name-product">Đồ Chơi Lắp Ráp Tàu Vũ Trụ Lele Brother, Xếp Hình Cho Bé Từ 6 Tuổi</h3>
                                <div class="flex-price">
                                    <div class="price-sale">689,098đ</div>
                                    <div class="review">4.8<i class="icon icon-star"></i><span class="total-review">(322)</span></div>
                                </div>
                                <div class="price-old">
                                    So với giá cũ 767,009đ <i class="icon icon-info"></i>
                                    <div class="info-detail">
                                        Giá sản phẩm <b>rẻ nhất</b> của đơn vị khác
                                        được Hulo Toys nghiên cứu trên <b>mọi nền tảng</b>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-product">
                        <a href="">
                            <div class="box-thumb">
                                <div class="thumb-product">
                                    <img src="/assets/images/product.jpg" alt="" />
                                </div>
                            </div>
                            <div class="box-info">
                                <h3 class="name-product">Đồ Chơi Lắp Ráp Tàu Vũ Trụ Lele Brother, Xếp Hình Cho Bé Từ 6 Tuổi</h3>
                                <div class="flex-price">
                                    <div class="price-sale">689,098đ</div>
                                    <div class="review">4.8<i class="icon icon-star"></i><span class="total-review">(322)</span></div>
                                </div>
                                <div class="price-old">
                                    So với giá cũ 767,009đ <i class="icon icon-info"></i>
                                    <div class="info-detail">
                                        Giá sản phẩm <b>rẻ nhất</b> của đơn vị khác
                                        được Hulo Toys nghiên cứu trên <b>mọi nền tảng</b>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-product">
                        <a href="">
                            <div class="box-thumb">
                                <div class="thumb-product">
                                    <img src="/assets/images/product.jpg" alt="" />
                                </div>
                            </div>
                            <div class="box-info">
                                <h3 class="name-product">Đồ Chơi Lắp Ráp Tàu Vũ Trụ Lele Brother, Xếp Hình Cho Bé Từ 6 Tuổi</h3>
                                <div class="flex-price">
                                    <div class="price-sale">689,098đ</div>
                                    <div class="review">4.8<i class="icon icon-star"></i><span class="total-review">(322)</span></div>
                                </div>
                                <div class="price-old">
                                    So với giá cũ 767,009đ <i class="icon icon-info"></i>
                                    <div class="info-detail">
                                        Giá sản phẩm <b>rẻ nhất</b> của đơn vị khác
                                        được Hulo Toys nghiên cứu trên <b>mọi nền tảng</b>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-product">
                        <a href="">
                            <div class="box-thumb">
                                <div class="thumb-product">
                                    <img src="/assets/images/product.jpg" alt="" />
                                </div>
                            </div>
                            <div class="box-info">
                                <h3 class="name-product">Đồ Chơi Lắp Ráp Tàu Vũ Trụ Lele Brother, Xếp Hình Cho Bé Từ 6 Tuổi</h3>
                                <div class="flex-price">
                                    <div class="price-sale">689,098đ</div>
                                    <div class="review">4.8<i class="icon icon-star"></i><span class="total-review">(322)</span></div>
                                </div>
                                <div class="price-old">
                                    So với giá cũ 767,009đ <i class="icon icon-info"></i>
                                    <div class="info-detail">
                                        Giá sản phẩm <b>rẻ nhất</b> của đơn vị khác
                                        được Hulo Toys nghiên cứu trên <b>mọi nền tảng</b>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-product">
                        <a href="">
                            <div class="box-thumb">
                                <div class="thumb-product">
                                    <img src="/assets/images/product.jpg" alt="" />
                                </div>
                            </div>
                            <div class="box-info">
                                <h3 class="name-product">Đồ Chơi Lắp Ráp Tàu Vũ Trụ Lele Brother, Xếp Hình Cho Bé Từ 6 Tuổi</h3>
                                <div class="flex-price">
                                    <div class="price-sale">689,098đ</div>
                                    <div class="review">4.8<i class="icon icon-star"></i><span class="total-review">(322)</span></div>
                                </div>
                                <div class="price-old">
                                    So với giá cũ 767,009đ <i class="icon icon-info"></i>
                                    <div class="info-detail">
                                        Giá sản phẩm <b>rẻ nhất</b> của đơn vị khác
                                        được Hulo Toys nghiên cứu trên <b>mọi nền tảng</b>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-product">
                        <a href="">
                            <div class="box-thumb">
                                <div class="thumb-product">
                                    <img src="/assets/images/product.jpg" alt="" />
                                </div>
                            </div>
                            <div class="box-info">
                                <h3 class="name-product">Đồ Chơi Lắp Ráp Tàu Vũ Trụ Lele Brother, Xếp Hình Cho Bé Từ 6 Tuổi</h3>
                                <div class="flex-price">
                                    <div class="price-sale">689,098đ</div>
                                    <div class="review">4.8<i class="icon icon-star"></i><span class="total-review">(322)</span></div>
                                </div>
                                <div class="price-old">
                                    So với giá cũ 767,009đ <i class="icon icon-info"></i>
                                    <div class="info-detail">
                                        Giá sản phẩm <b>rẻ nhất</b> của đơn vị khác
                                        được Hulo Toys nghiên cứu trên <b>mọi nền tảng</b>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
@section Scripts {
    <script type="text/javascript" src="/modules/product_detail.js"></script>
    <script type="text/javascript" src="/modules/product_raiting.js"></script>

}
