@using Best1Mall_Front_End.Models.Products
@using Best1Mall_Front_End.ViewModels;
@using Best1Mall_Front_End.Utilities;
@model ProductListResponseModel
@{
    ViewData["Title"] = "product";
   

}
<!-- Phần tử ẩn lưu group_id từ URL -->
@* <input type="hidden" id="group_id_from_url" value="@productid_id" /> *@

<section class="product-section">
    <div class="max-w-[1230px] mx-auto my-4 px-[15px]">
        <div class="breadcrumb my-4 ">
            <ul class="flex items-center gap-3 font-normal">
                <li><a href="/">Trang chủ</a></li>
                <li><a href="" class="text-color-base">Jpanwell</a></li>
            </ul>
        </div>

        <div class="my-6 md:my-10">
            <div class="md:grid grid-cols-5 gap-3">
               





                @* </div> *@
                @* ListProduct *@
                <div class="col-span-5">

                    <div class="grid lg:grid-cols-5 md:grid-cols-5 grid-cols-2 gap-3 component-product-list">
                        @Html.Partial("~/Views/Shared/Components/Product/ProductListViewComponent.cshtml", Model)
                    </div>

                   
                </div>
                <!-- Nút Xem Thêm -->


            </div>
        </div>
    </div>
</section>