@{
    ViewData["Title"] = "Đóng góp ý kiến";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .AddcommentSucces {
        padding: 15px;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: #f0ad4e;
        color: #fff;
    }

    .close {
        float: right;
        font-size: 21px;
        font-weight: bold;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
    }

/*     #CommentSucces {
        display: none;
        text-align: center;
        line-height: 30px; 
    } */

    #PromotionNoti
    {
        display: none;
        text-align: center;
        line-height: 30px;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.5; /* Làm mờ liên kết */
    }

    .btn-Send {
        float:right;
    }
</style>
<div id="Comment_success" class="overlay form-noti">
    <div class="popup">
        <a class="close" href="javascript:;">
            <i class="icon icon-close"></i>
        </a>
        <div class="content">
            <img src="/assets/images/check.svg" alt="">
            <h4>Thành công</h4>
            <p class="lightbox-description">Cảm ơn bạn vì đã góp ý</p>
        </div>
    </div>
</div>
<section class="section-banner-search section-donggopykien">
    <div class="container">
        <div class="flex-banner">
            <div class="wrap-form">
                <h2 class="title">Đóng góp ý kiến</h2>
                <div class="form-donggop">
                    <form onsubmit="return false" class="needs-validation" novalidate>
                        <div class="form-group">
                            <label>Nội dung*</label>
                            <div class="box-input">
                                <textarea maxlength="500" style="min-height:150px" oninput="_feedback.SaveText()" class="form-control" id="comment-text" rows="5" placeholder="Hãy chia sẽ những góp ý của bạn với Hulo Toys tại đây nhé."></textarea>
                                <div id="invalid-comment" style="font-size:inherit;color:red;display:none">Vui lòng nhập nội dung góp ý!</div>
                            </div>
                        </div>
                        <div class="action">
                            <div></div>
                            <a onclick="_feedback.CreateFeedback()" id="liveToastBtn" class="btn btn-Send">Gửi</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="image">
                <img src="/assets/images/img-search.png" alt="">
            </div>
        </div>
    </div>
</section>

@section scripts {
    
}
