@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Giỏ hàng | Hulotoys";

}
<!-- SKELETON LOADING -->
<div class="max-w-[1230px] mx-auto px-[15px]">
    <div id="skeleton-loading" class="animate-pulse grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
        <!-- Ảnh giả -->
        <div class="bg-gray-200 rounded-xl h-[600px] w-full"></div>

        <!-- Thông tin giả -->
        <div class="space-y-4">
            <div class="h-8 bg-gray-200 rounded w-3/4"></div>
            <div class="h-6 bg-gray-200 rounded w-1/2"></div>
            <div class="h-4 bg-gray-200 rounded w-full"></div>
            <div class="h-4 bg-gray-200 rounded w-full"></div>
            <div class="h-10 bg-gray-200 rounded w-1/3"></div>
            <div class="h-10 bg-gray-300 rounded mt-4 w-full"></div>
        </div>
    </div>
</div>
<main class="min-h-[40vh]">


    <!-- DANH SACH SAN PHAM -->
    <section class="product-cart-section section-cart hidden ">
        <div class="max-w-[1230px] mx-auto px-[15px]">
            <div class="breadcrumb my-4 ">
                <ul class="flex items-center gap-3 font-normal">
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="" class="text-color-base">Giỏ hàng / Thanh toán</a></li>
                </ul>
            </div>
            <div class=" box-cart flex flex-wrap md:flex-nowrap justify-between gap-3 my-4">
                <div class=" list-addtocart w-full md:w-[70%] shrink-0 ">
                    <div class="bg-white md:rounded-3xl rounded-xl md:p-3 p-2 shopping-cart">
                        <div class="hidden md:flex items-center gap-3 py-2 bg-gray-50 p-2 rounded-xl text-sm w-full mb-2">
                            @* <input type="checkbox" class="w-5 h-5 shrink-0" /> *@
                            <div class="product-checkall">
                                <div class="box-checkbox">
                                    <label class="box-checkbox-all">
                                        <input type="checkbox" class="checkbox-all" />
                                    </label>
                                </div>
                            </div>

                            <div class="md:grid grid-cols-12 whitespace-nowrap w-full">
                                <div class="col-span-5">Tên sản phẩm<span class="text-slate-500 total-sp"> (2 sản phẩm)</span></div>
                                <div class="col-span-2 text-center">Đơn giá</div>
                                <div class="col-span-2 text-center">Số lượng</div>
                                <div class="col-span-2 text-center">Thành tiền</div>
                                <div class="col-span-1 text-right"></div>
                            </div>
                        </div>
                        <div class="list-product-cart table-addtocart">
                            <div class="flex md:items-center gap-3 py-2 bg-gray-50 p-2 rounded-xl w-full product">
                                @* <div class="box-checkbox"> *@
                                @*     <input type="checkbox" id="checkbox12" class="w-5 h-5 shrink-0 md:mt-0 mt-4 checkbox-cart" /> *@
                                @*     <label for="checkbox12 box-checkbox-label"></label> *@
                                @* </div> *@
                                
                                <div class="md:grid grid-cols-12 w-full items-center relative">
                                    <div class="col-span-5">
                                        <div class="flex gap-2 items-center">
                                            <div class="relative aspect-[1/1] w-15 overflow-hidden rounded-lg shrink-0 shrink-0">
                                                <img src="images/product1.jpg" alt="Sản phẩm shrink-0"
                                                     class="absolute inset-0 w-full h-full object-cover" />
                                            </div>
                                            <div>
                                                <p class="font-medium line-clamp-2 md:text-base text-sm">
                                                    BLACKMORES –
                                                    Cholesterol Health 400v
                                                </p>
                                                <div class="text-sm text-slate-500">Phân loại: 400v</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-span-2 md:text-center md:pl-0 pl-17">
                                        <div class="flex flex-wrap md:flex-col gap-x-2 items-center">
                                            <div class="font-medium md:text-base text-sm">169.000 ₫</div>
                                            @* <div class="text-sm text-slate-500"> *@
                                            @*     <span class="line-through"> *@
                                            @*         199.000 ₫ *@
                                            @*     </span> | *@
                                            @*     -27% *@
                                            @* </div> *@
                                            @* <div class="discount-badge relative inline-block overflow-hidden"> *@
                                            @*     <span>Giảm 50k</span> *@
                                            @* </div> *@
                                        </div>

                                        <!-- ẩn pc-hiện mb -->
                                        <span class="md:hidden block text-red-400 font-semibold">119.000 ₫</span>
                                    </div>
                                    <div class="col-span-2 md:text-center md:pl-0 pl-17">
                                        <div class="flex items-center">
                                            <button type="button"
                                                    class="h-8 w-8 border border-gray-100 text-gray-700 rounded-tl rounded-bl hover:bg-gray-100 cursor-pointer"
                                                    onclick="decrement()">
                                                -
                                            </button>
                                            <input id="quantity" type="number" value="1" min="1" max="999"
                                                   class="h-8 w-10 text-center border-t border-b border-gray-100 quantity text-sm" />
                                            <button type="button"
                                                    class="h-8 w-8 border border-gray-100 text-gray-700 rounded-tr rounded-br hover:bg-gray-100 border-gray-100  cursor-pointer"
                                                    onclick="increment()">
                                                +
                                            </button>
                                        </div>
                                    </div>
                                    <!-- ẩn mb-hiện pc -->
                                    <div class="col-span-2 md:text-center md:pl-0 pl-17 hidden md:block">
                                        <span class="text-red-400 font-semibold">
                                            119.000
                                            ₫
                                        </span>
                                    </div>
                                    <div class="col-span-1 text-right md:relative absolute right-0 bottom-0 product-removal">
                                        @* <button class="text-sm text-blue-500 hover:underline cursor-pointer remove-product">Xóa</button> *@
                                        <button class="text-sm text-blue-500 hover:underline cursor-pointer  all-pop"
                                                data-id="#lightbox-delete-cart">
                                            Xóa
                                        </button>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="w-full right-cart s">
                    <!-- Địa chỉ nhận hàng -->
                    <div class="bg-white md:rounded-3xl rounded-xl md:p-5 p-3 text-slate-500 address">
                        <div class="flex items-center justify-between ">
                            <div class="uppercase text-slate-800 font-semibold name">
                                <p class="line-clamp-1"><nw id="address-receivername"></nw></p>
                                <p><nw id="address-phone"></nw></p>
                            </div>
                            <a href="javascript:;"
                               class="whitespace-nowrap rounded-full px-4 py-2 bg-purple-50 text-purple-600 text-sm hover:bg-purple-100 all-pop update-address-order"
                               data-id="#address-book">
                                Thay đổi
                            </a>

                        </div>
                        <p><nw id="address"></nw></p>

                        <!-- Giao hàng -->
                        <div class="border-t border-gray-200 pt-3 mt-3" >

                            <p>Hình thức giao hàng:</p>
                            <a href="javascript:;" id="delivery-shippingtype" class="text-red-400 cursor-pointer flex items-center justify-between delivery all-pop" data-id="#hinhthucgiaohang">
                                <div class="select-delivery select-option active">
                                    <span class="tt">
                                        Ninja Van
                                        (Nhanh)
                                    </span>

                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                     fill="none">
                                    <path d="M12.7729 9.39731L7.14792 15.0223C7.09565 15.0746 7.03361 15.116 6.96533 15.1443C6.89704 15.1726 6.82386 15.1872 6.74995 15.1872C6.67604 15.1872 6.60285 15.1726 6.53457 15.1443C6.46628 15.116 6.40424 15.0746 6.35198 15.0223C6.29972 14.97 6.25826 14.908 6.22998 14.8397C6.20169 14.7714 6.18713 14.6982 6.18713 14.6243C6.18713 14.5504 6.20169 14.4772 6.22998 14.409C6.25826 14.3407 6.29972 14.2786 6.35198 14.2264L11.5797 8.99934L6.35198 3.7723C6.24643 3.66676 6.18713 3.5236 6.18713 3.37434C6.18713 3.22507 6.24643 3.08192 6.35198 2.97637C6.45753 2.87082 6.60068 2.81152 6.74995 2.81152C6.89921 2.81152 7.04237 2.87082 7.14792 2.97637L12.7729 8.60137C12.8252 8.65361 12.8667 8.71565 12.895 8.78393C12.9233 8.85222 12.9379 8.92542 12.9379 8.99934C12.9379 9.07326 12.9233 9.14645 12.895 9.21474C12.8667 9.28303 12.8252 9.34506 12.7729 9.39731Z"
                                          fill="#FF4169" />
                                </svg>
                            </a>
                        </div>
                    </div>

                    <!-- Mã voucher -->
                    <div class="bg-white md:rounded-3xl rounded-xl md:p-5 p-3 text-slate-500 mt-3">
                        <p class="flex gap-2 items-center mb-1"><img src="images/icon/coupon.png" alt="" />Mã voucher : </p>
                        <a href="" class="text-red-400 cursor-pointer flex items-center justify-between all-pop" data-id="#voucher-popup">
                            Chọn mã khuyến mãi
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                <path d="M12.7729 9.39731L7.14792 15.0223C7.09565 15.0746 7.03361 15.116 6.96533 15.1443C6.89704 15.1726 6.82386 15.1872 6.74995 15.1872C6.67604 15.1872 6.60285 15.1726 6.53457 15.1443C6.46628 15.116 6.40424 15.0746 6.35198 15.0223C6.29972 14.97 6.25826 14.908 6.22998 14.8397C6.20169 14.7714 6.18713 14.6982 6.18713 14.6243C6.18713 14.5504 6.20169 14.4772 6.22998 14.409C6.25826 14.3407 6.29972 14.2786 6.35198 14.2264L11.5797 8.99934L6.35198 3.7723C6.24643 3.66676 6.18713 3.5236 6.18713 3.37434C6.18713 3.22507 6.24643 3.08192 6.35198 2.97637C6.45753 2.87082 6.60068 2.81152 6.74995 2.81152C6.89921 2.81152 7.04237 2.87082 7.14792 2.97637L12.7729 8.60137C12.8252 8.65361 12.8667 8.71565 12.895 8.78393C12.9233 8.85222 12.9379 8.92542 12.9379 8.99934C12.9379 9.07326 12.9233 9.14645 12.895 9.21474C12.8667 9.28303 12.8252 9.34506 12.7729 9.39731Z"
                                      fill="#FF4169" />
                            </svg>
                        </a>
                        <div id="discountCart" class="group rounded-xl p-[1px] bg-gradient-to-r from-cyan-400 to-green-300 hover:cursor-pointer transition-all hidden">
                            <div class="flex items-center gap-2 rounded-xl bg-white p-2">
                                <!-- Icon Coupon -->
                                <div class="w-15 shrink-0">
                                    <img src="~/assets/images/coupon.png" alt="Best Mall" />
                                </div>

                                <!-- Nội dung -->
                                <div class="flex-1">
                                    <p class="font-medium text-sky-950 leading-snug line-clamp-3">
                                        Giảm 20% trên tổng hóa đơn
                                    </p>
                                </div>

                                <!-- Icon Info & Bỏ chọn -->
                                <div class="flex items-center space-x-1">
                                    <div class="w-4 h-4 rounded-full border border-gray-300 flex items-center justify-center text-gray-500 text-xs">
                                        i
                                    </div>
                                    <button class=" btn-remove-voucher bg-gray-100 text-purple-600 text-sm px-3 py-1 rounded-full">
                                        Bỏ chọn
                                    </button>
                                </div>
                            </div>
                        </div>


                    </div>
                    
                    <!-- Thanh toán -->
                    <div class="bg-white md:rounded-3xl rounded-xl md:p-5 p-3 text-slate-500 mt-3 pay">
                        <p class="flex gap-2 items-center mb-1 tt">Phương thức thanh toán:</p>
                        <a href="" class="text-red-400 cursor-pointer flex items-center justify-between select-option select-bank all-pop" data-id="#phuongthucthanhtoan">
                            <span class="tt">Chuyển khoản qua ngân hàng </span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                <path d="M12.7729 9.39731L7.14792 15.0223C7.09565 15.0746 7.03361 15.116 6.96533 15.1443C6.89704 15.1726 6.82386 15.1872 6.74995 15.1872C6.67604 15.1872 6.60285 15.1726 6.53457 15.1443C6.46628 15.116 6.40424 15.0746 6.35198 15.0223C6.29972 14.97 6.25826 14.908 6.22998 14.8397C6.20169 14.7714 6.18713 14.6982 6.18713 14.6243C6.18713 14.5504 6.20169 14.4772 6.22998 14.409C6.25826 14.3407 6.29972 14.2786 6.35198 14.2264L11.5797 8.99934L6.35198 3.7723C6.24643 3.66676 6.18713 3.5236 6.18713 3.37434C6.18713 3.22507 6.24643 3.08192 6.35198 2.97637C6.45753 2.87082 6.60068 2.81152 6.74995 2.81152C6.89921 2.81152 7.04237 2.87082 7.14792 2.97637L12.7729 8.60137C12.8252 8.65361 12.8667 8.71565 12.895 8.78393C12.9233 8.85222 12.9379 8.92542 12.9379 8.99934C12.9379 9.07326 12.9233 9.14645 12.895 9.21474C12.8667 9.28303 12.8252 9.34506 12.7729 9.39731Z"
                                      fill="#FF4169" />
                            </svg>
                        </a>
                    </div>

                    <!-- Tổng tiền -->
                    <div class="bg-white md:rounded-3xl rounded-xl md:p-5 p-3 text-slate-500 mt-3 total-cart">
                        <div class="flex gap-2 flex-total total-amount justify-between items-center mb-1">
                            <p>Tiền hàng : </p>
                            <p class="font-medium text-slate-700 pr total-before-discount">3.000.000đ</p>
                        </div>
                        <div class="flex gap-2 flex-total total-shipping-fee justify-between items-center mb-1">
                            <p>Phí vận chuyển:</p>
                            <p class="font-medium text-slate-700 pr">0đ</p>
                        </div>
                        <div class="flex gap-2 flex-total total-discount justify-between items-center mb-1 hidden" id="discountSection">
                            <p>Giảm giá : </p> 
                            <p class="font-medium text-slate-700 pr total-discount-amount">-30.000đ</p>
                        </div> 
                        <div class="flex gap-2 flex-total justify-between items-center mt-3 pt-3 border-t border-gray-200 total-final-amount">
                            <div class="flex-total">
                                <p>
                                    <span class="font-medium text-slate-700">TỔNG TIỀN</span>
                                    <br />(tạm tính)
                                </p>
                                <p class="text-xl text-red-400 font-medium pr total-after-discount">30.000.000đ</p>
                            </div>
                           
                        </div>
                    </div>

                    @* <!-- Button --> *@
                    @* <button type="button" class="mt-3 bg-blue-500 px-6 py-2 text-white rounded-full cursor-pointer hover:opacity-80 w-full btn btn-base btn-confirm btn-confirm-car"> *@
                    @*     Xác *@
                    @*     nhận thanh toán *@
                    @* </button> *@
                    <button type="button" class=" mt-3 bg-blue-500 px-6 py-2 text-white rounded-full cursor-pointer hover:opacity-80 w-full btn btn-base btn-confirm btn-confirm-cart">Xác nhận thanh toán</button>
                    
                </div>

            </div>



            <!-- List Sản phẩm đã xem -->
            <div class="my-6 md:my-10" id="viewed-products-wrapper">
                <div class="flex justify-between flex-wrap gap-2 mb-3">
                    <h2 class="text-sky-900 font-medium uppercase"><a href="">Sản phẩm đã xem</a> </h2>
                    @* <a href="/san-pham/tat-ca?group_id=1" class="flex items-center gap-2 text-blue-500 text-sm"> *@
                    @*     Xem thêm *@
                    @*     <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"> *@
                    @*         <path d="M12.773 9.39804L7.14804 15.023C7.09578 15.0753 7.03373 15.1168 6.96545 15.145C6.89716 15.1733 6.82398 15.1879 6.75007 15.1879C6.67616 15.1879 6.60297 15.1733 6.53469 15.145C6.46641 15.1168 6.40436 15.0753 6.3521 15.023C6.29984 14.9708 6.25838 14.9087 6.2301 14.8404C6.20181 14.7722 6.18726 14.699 6.18726 14.6251C6.18726 14.5512 6.20181 14.478 6.2301 14.4097C6.25838 14.3414 6.29984 14.2794 6.3521 14.2271L11.5798 9.00007L6.3521 3.77304C6.24655 3.66749 6.18726 3.52434 6.18726 3.37507C6.18726 3.2258 6.24655 3.08265 6.3521 2.9771C6.45765 2.87155 6.6008 2.81226 6.75007 2.81226C6.89934 2.81226 7.04249 2.87155 7.14804 2.9771L12.773 8.6021C12.8253 8.65434 12.8668 8.71638 12.8951 8.78466C12.9234 8.85295 12.938 8.92615 12.938 9.00007C12.938 9.07399 12.9234 9.14719 12.8951 9.21547C12.8668 9.28376 12.8253 9.3458 12.773 9.39804Z" *@
                    @*               fill="#098EF7" /> *@
                    @*     </svg> *@
                    @* </a> *@
                </div>

                <div class="h-[1px] w-full bg-gradient-to-r from-pink-500 via-purple-500 to-blue-500"></div>
                <!-- Swiper -->
                <div class="relative mt-3">
                    <div class="flash-sale-swiper">
                        <div class="swiper">
                            <div class="swiper-wrapper" id="viewed-products">
                            </div>
                        </div>

                        <!-- Navigation -->
                        <div class="swiper-button-next shadow !text-white !bg-white hover:!bg-white/70 rounded-full p-2">
                            <svg class="w-4 h-4 text-black" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                            </svg>
                        </div>
                        <div class="swiper-button-prev shadow !text-white !bg-white hover:!bg-white/70 rounded-full p-2">
                            <svg class="w-4 h-4 text-black" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- END DANH SACH SAN PHAM -->

</main>




<div id="hinhthucgiaohang" class="popup fixed inset-0 bg-black/50 bg-opacity-50 hidden overflow-x-hidden z-999 form-voucher">
    <div class="flex justify-center md:items-center h-full">
        <div class="popup-content bg-white p-6 md:rounded-3xl shadow-lg max-w-3xl w-full mx-auto  overflow-y-auto relative">

            <span class="closePopup absolute right-2 top-2 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <path d="M19.281 18.7193C19.3507 18.789 19.406 18.8717 19.4437 18.9628C19.4814 19.0538 19.5008 19.1514 19.5008 19.2499C19.5008 19.3485 19.4814 19.4461 19.4437 19.5371C19.406 19.6281 19.3507 19.7109 19.281 19.7806C19.2114 19.8502 19.1286 19.9055 19.0376 19.9432C18.9465 19.9809 18.849 20.0003 18.7504 20.0003C18.6519 20.0003 18.5543 19.9809 18.4632 19.9432C18.3722 19.9055 18.2895 19.8502 18.2198 19.7806L12.0004 13.5602L5.78104 19.7806C5.64031 19.9213 5.44944 20.0003 5.25042 20.0003C5.05139 20.0003 4.86052 19.9213 4.71979 19.7806C4.57906 19.6398 4.5 19.449 4.5 19.2499C4.5 19.0509 4.57906 18.86 4.71979 18.7193L10.9401 12.4999L4.71979 6.28055C4.57906 6.13982 4.5 5.94895 4.5 5.74993C4.5 5.55091 4.57906 5.36003 4.71979 5.2193C4.86052 5.07857 5.05139 4.99951 5.25042 4.99951C5.44944 4.99951 5.64031 5.07857 5.78104 5.2193L12.0004 11.4396L18.2198 5.2193C18.3605 5.07857 18.5514 4.99951 18.7504 4.99951C18.9494 4.99951 19.1403 5.07857 19.281 5.2193C19.4218 5.36003 19.5008 5.55091 19.5008 5.74993C19.5008 5.94895 19.4218 6.13982 19.281 6.28055L13.0607 12.4999L19.281 18.7193Z"
                          fill="#2A3262" />
                </svg>
            </span>

            <!-- header -->
            <h4 class="text-center text-xl text-color-base mb-3">Chọn hình thức giao hàng</h4>
            <!-- Accordion Sections -->
            <div class="accordion-ship list-giaohang " id="accordion">
                <!-- Ninja Van -->
                <div class="group item pb-3" data-carrier-id="1">
                    <div class="font-normal cursor-pointer toggle text-md flex justify-between items-center uppercase title">
                        Ninja Van
                        <svg class="w-4 h-4 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </div>
                    <div class="panel answer mt-2 max-h-[400px] overflow-y-auto">
                        <ul class="space-y-2">
                            <li class="shipping-option" data-shipping-type="1">
                                <div class="gap-2 flex justify-between items-center px-4 py-2 cursor-pointer hover:bg-gray-50 transition box-select-ship">
                                    <div>
                                        <p class="font-normal name">Giao nhanh</p>
                                        <p class="text-sm text-gray-500 des">Nhận hàng trong 2-7 ngày</p>
                                    </div>
                                    <span class="text-[#FF3D71] whitespace-nowrap price placeholder">_______________</span>
                                </div>
                            </li>
                            <li class="shipping-option force-payment-cod shipping-fee-cod" data-shipping-type="5">
                                <div class="gap-2 flex justify-between items-center px-4 py-2 cursor-pointer hover:bg-gray-50 transition box-select-ship">
                                    <div>
                                        <p class="font-normal name">Thanh toán khi nhận hàng (COD)</p>
                                        <p class="text-sm text-gray-500 des">Nhận hàng trước, trả tiền sau</p>
                                    </div>
                                    <span class="text-[#FF3D71] whitespace-nowrap price">_______________</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Lấy tại cửa hàng -->
                <div class="group item pb-3" data-carrier-id="2">
                    <div class="font-normal cursor-pointer toggle text-md flex justify-between items-center uppercase title active">
                        Lấy tại cửa hàng
                        <svg class="w-4 h-4 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </div>
                    <div class="panel answer mt-2 max-h-[400px] overflow-y-auto">
                        <ul class="space-y-2">
                            <li class="active active-delivery shipping-option" data-shipping-type="2">
                                <div class="gap-2 flex justify-between items-center px-4 py-2 bg-gradient-to-r from-cyan-50 to-cyan-100 border-l-[3px] border-[#00CFE8] rounded box-select-ship">
                                    <div>
                                        <p class="font-normal name">Nhận hàng tại cửa hàng</p>
                                        <p class="text-sm text-gray-500 des">Nhận hàng tại chi nhánh Hà Nội</p>
                                    </div>
                                    <span class="text-[#FF3D71] whitespace-nowrap price">0đ</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>


            <!-- Footer -->
            <div class="flex justify-between items-center mt-4 gap-3">
                <button class="border border-blue-500 px-6 py-2 text-blue-500 rounded-full cursor-pointer hover:opacity-80 w-full btn btn-back">
                    Trở
                    lại
                </button>
                <button class="border border-blue-500 bg-blue-500 px-1 py-2 text-white rounded-full cursor-pointer hover:opacity-80 w-full btn-base btn-save">
                    Xác
                    nhận
                </button>

            </div>


        </div>
    </div>
</div>
<div id="phuongthucthanhtoan" class="overlay form-voucher popup fixed inset-0 bg-black/50 bg-opacity-50 hidden overflow-x-hidden z-999">
    <div class="flex justify-center md:items-center h-full">
        <div class="popup-content bg-white p-6 md:rounded-3xl shadow-lg max-w-xl w-full mx-auto overflow-y-auto relative">

            <!-- Close Icon -->
            <span class="closePopup absolute right-2 top-2 cursor-pointer close">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <path d="M19.281 18.7193..." fill="#2A3262" />
                </svg>
            </span>

            <!-- Header -->
            <h4 class="text-center text-xl text-color-base mb-3 title-popup">Chọn hình thức thanh toán</h4>

            <!-- Payment Methods -->
            <div class="space-y-4 list-option select-bank">
                <label class="flex gap-2 items-center cursor-pointer item">
                    <div class="relative choose">
                        <input type="radio" name="payment_type" class="radio-custom mt-1 radio" id="radio1" value="1">
                    </div>
                    <label for="radio1" class="flex gap-2 items-center">
                        <img src="./assets/images/icon/Package.svg" alt="" class="h-8" />
                        Thanh toán khi nhận hàng (COD)
                    </label>
                </label>


                <label class="flex gap-2 items-center cursor-pointer item">
                    <div class="relative choose">
                        <input type="radio" name="payment_type" class="radio-custom mt-1 radio" id="radio2" value="2" checked>
                       
                    </div>
                    <label for="radio2" class="flex gap-2 items-center">
                        <img src="./assets/images/icon/Bank.svg" alt="" class="h-8" />
                        Chuyển khoản qua ngân hàng
                    </label>
                </label>

                @* <label class="flex gap-2 items-center cursor-pointer item"> *@
                @*     <div class="relative choose"> *@
                @*         <input type="radio" name="payment_type" class="radio-custom mt-1 radio" id="radio3" value="4"> *@
                @*         <label for="radio3" class="flex gap-2 items-center"> *@
                @*             <img src="./assets/images/icon/QrCode.svg" alt="" class="h-8" /> *@
                @*             Thanh toán QR-PAY *@
                @*         </label> *@
                @*     </div> *@
                @* </label> *@

                @* <label class="flex gap-2 items-center cursor-pointer item"> *@
                @*     <div class="relative choose"> *@
                @*         <input type="radio" name="payment_type" class="radio-custom mt-1 radio" id="radio4" value="3"> *@
                @*         <label for="radio4" class="flex gap-2 items-center"> *@
                @*             <img src="./assets/images/icon/CreditCard.svg" alt="" class="h-8" /> *@
                @*             Thẻ Visa - Master Card *@
                @*         </label> *@
                @*     </div> *@
                @* </label> *@
            </div>

            <!-- Footer -->
            <div class="flex justify-between items-center mt-4 gap-3 action">
                <button class="border border-blue-500 px-6 py-2 text-blue-500 rounded-full cursor-pointer hover:opacity-80 w-full btn-back">
                    Trở lại
                </button>
                <button class="border border-blue-500 bg-blue-500 px-6 py-2 text-white rounded-full cursor-pointer hover:opacity-80 w-full btn-save">
                    Xác nhận
                </button>
            </div>
        </div>
    </div>
</div>

<div id="lightbox-delete-cart" class="popup fixed inset-0 bg-black/50 hidden z-50 flex items-center justify-center" >
    <div class="bg-white p-6 rounded-lg shadow-xl max-w-sm w-full relative">
        <button class="absolute top-2 right-2 text-gray-500 hover:text-black close-popup">
            &times;
        </button>
        <p class="text-lg text-center mb-4">Bạn có chắc muốn xoá sản phẩm này khỏi giỏ hàng?</p>
        <div class="flex justify-between gap-4">
            <button class="bg-gray-200 px-4 py-2 rounded cancel-popup w-full btn-back">Huỷ</button>
            <button class="bg-red-500 text-white px-4 py-2 rounded confirm-delete btn-save w-full">Xoá</button>
        </div>
    </div>
</div>

<div id="voucher-popup" class="popup fixed inset-0 bg-black/50 bg-opacity-50 hidden overflow-x-hidden z-999">
    <div class="flex justify-center md:items-center h-full">
        <div class="popup-content bg-white p-6 md:rounded-3xl shadow-lg max-w-3xl w-full mx-auto  overflow-y-auto relative">

            <span class="closePopup absolute right-2 top-2 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <path d="M19.281 18.7193C19.3507 18.789 19.406 18.8717 19.4437 18.9628C19.4814 19.0538 19.5008 19.1514 19.5008 19.2499C19.5008 19.3485 19.4814 19.4461 19.4437 19.5371C19.406 19.6281 19.3507 19.7109 19.281 19.7806C19.2114 19.8502 19.1286 19.9055 19.0376 19.9432C18.9465 19.9809 18.849 20.0003 18.7504 20.0003C18.6519 20.0003 18.5543 19.9809 18.4632 19.9432C18.3722 19.9055 18.2895 19.8502 18.2198 19.7806L12.0004 13.5602L5.78104 19.7806C5.64031 19.9213 5.44944 20.0003 5.25042 20.0003C5.05139 20.0003 4.86052 19.9213 4.71979 19.7806C4.57906 19.6398 4.5 19.449 4.5 19.2499C4.5 19.0509 4.57906 18.86 4.71979 18.7193L10.9401 12.4999L4.71979 6.28055C4.57906 6.13982 4.5 5.94895 4.5 5.74993C4.5 5.55091 4.57906 5.36003 4.71979 5.2193C4.86052 5.07857 5.05139 4.99951 5.25042 4.99951C5.44944 4.99951 5.64031 5.07857 5.78104 5.2193L12.0004 11.4396L18.2198 5.2193C18.3605 5.07857 18.5514 4.99951 18.7504 4.99951C18.9494 4.99951 19.1403 5.07857 19.281 5.2193C19.4218 5.36003 19.5008 5.55091 19.5008 5.74993C19.5008 5.94895 19.4218 6.13982 19.281 6.28055L13.0607 12.4999L19.281 18.7193Z"
                          fill="#2A3262" />
                </svg>
            </span>
            <!-- header -->
            <h4 class="text-center text-xl text-color-base mb-3">Chọn voucher</h4>
            <!-- Footer -->
            <div class="flex mb-3 flex-col md:flex-row items-center justify-between whitespace-nowrap gap-3">
                <span class="font-semibold">Mã Voucher</span>
                <label class="relative w-full">
                    <span class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-400">
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.75 10.25C21.9489 10.25 22.1397 10.171 22.2803 10.0303C22.421 9.88968 22.5 9.69891 22.5 9.5V6.5C22.5 6.10218 22.342 5.72064 22.0607 5.43934C21.7794 5.15804 21.3978 5 21 5H3C2.60218 5 2.22064 5.15804 1.93934 5.43934C1.65804 5.72064 1.5 6.10218 1.5 6.5V9.5C1.5 9.69891 1.57902 9.88968 1.71967 10.0303C1.86032 10.171 2.05109 10.25 2.25 10.25C2.84674 10.25 3.41903 10.4871 3.84099 10.909C4.26295 11.331 4.5 11.9033 4.5 12.5C4.5 13.0967 4.26295 13.669 3.84099 14.091C3.41903 14.5129 2.84674 14.75 2.25 14.75C2.05109 14.75 1.86032 14.829 1.71967 14.9697C1.57902 15.1103 1.5 15.3011 1.5 15.5V18.5C1.5 18.8978 1.65804 19.2794 1.93934 19.5607C2.22064 19.842 2.60218 20 3 20H21C21.3978 20 21.7794 19.842 22.0607 19.5607C22.342 19.2794 22.5 18.8978 22.5 18.5V15.5C22.5 15.3011 22.421 15.1103 22.2803 14.9697C22.1397 14.829 21.9489 14.75 21.75 14.75C21.1533 14.75 20.581 14.5129 20.159 14.091C19.7371 13.669 19.5 13.0967 19.5 12.5C19.5 11.9033 19.7371 11.331 20.159 10.909C20.581 10.4871 21.1533 10.25 21.75 10.25ZM3 16.175C3.84772 16.0029 4.60986 15.543 5.15728 14.8732C5.70471 14.2034 6.00376 13.365 6.00376 12.5C6.00376 11.635 5.70471 10.7966 5.15728 10.1268C4.60986 9.45705 3.84772 8.99714 3 8.825V6.5H8.25V18.5H3V16.175ZM21 16.175V18.5H9.75V6.5H21V8.825C20.1523 8.99714 19.3901 9.45705 18.8427 10.1268C18.2953 10.7966 17.9962 11.635 17.9962 12.5C17.9962 13.365 18.2953 14.2034 18.8427 14.8732C19.3901 15.543 20.1523 16.0029 21 16.175Z"
                                  fill="#773EFA" />
                        </svg>
                    </span>
                    @* <input type="text" placeholder="Nhập mã Voucher" *@
                    @*        class="pl-10 w-full px-4 py-3 border-0 border-gray-200 outline-0"> *@
                </label>
                
            </div>
            <div class="list-voucher space-y-3">
              @* ......................... *@
            </div>
            <!-- Hiển thị thông báo lỗi nếu giỏ hàng trống -->
            @* <p class="voucher-error text-red-500 mt-4" style="display:none;">Vui lòng chọn sản phẩm trước khi áp dụng voucher!</p> *@

            <div class="flex justify-between items-center mt-4 gap-3">
                <button class="border border-blue-500 px-6 py-2 text-blue-500 rounded-full cursor-pointer hover:opacity-80 w-full btn-back">
                    Trở
                    lại
                </button>
                <button class="border border-blue-500 bg-blue-500 px-1 py-2 text-white rounded-full cursor-pointer hover:opacity-80 w-full btn-vorcher">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>
<style>
    .disabled-product {
        opacity: 0.5;
        pointer-events: none;
    }

        .disabled-product .product-removal {
            opacity: 1 !important;
            pointer-events: auto !important;
        }


        .disabled-product input,
        .disabled-product button {
            pointer-events: auto; /* vì có attr disabled rồi, nên bật lại */
        }

</style>
@section Scripts {
    <script type="text/javascript" src="/modules/cart.js" asp-append-version="true"></script>
    <script type="text/javascript" src="/modules/order_address.js" asp-append-version="true"></script>
    <script type="text/javascript" src="/modules/address_client.js" asp-append-version="true"></script>

}
