<section class="homepage">
    <div class="max-w-[1230px] mx-auto my-4 px-[15px]">
        <div class="breadcrumb my-4 ">
            <ul class="flex items-center gap-3 font-normal">
                <li><a href="">Trang chủ</a></li>
                <li><a href="" class="text-color-base">Flashsale</a></li>
            </ul>
        </div>
        <div class="flex items-center gap-2 justify-center">
            <div class="h-[1px] bg-[#773EFA] w-[100px]"></div>
            <img src="images/flashsale-p.png" alt="" />
            <span class="md:block hidden font-normal">Kết thúc trong</span>
            <div id="countdown" class="flex gap-1 font-bold text-white">
                <span class="bg-[#FF4169] px-2 py-1 rounded" id="hours">00</span> <span class="text-[#FF4169]"> :</span>
                <span class="bg-[#FF4169] px-2 py-1 rounded" id="minutes">00</span> <span class="text-[#FF4169]"> :</span>
                <span class="bg-[#FF4169] px-2 py-1 rounded" id="seconds">00</span>
            </div>
            <div class="h-[1px] bg-[#773EFA] w-[100px]"></div>
        </div>
        <!-- Flash sale  -->
        <div class="flashsale-box my-3 md:rounded-3xl rounded-xl bg-[#FF4169]">
            <div class="bg-box md:px-6 md:py-10 py-4 md:rounded-3xl rounded-xl px-3 pb-0 text-white relative md:min-h-[320px]">
                <h2 class="md:text-4xl text-2xl my-3">Chăm cơ thể – giữ tinh thần – <br />tiết kiệm tối đa!</h2>
                <h3 class="md:text-5xl text-3xl md:my-4 my-3">Giảm 50%</h3>
                <p>cho các dòng vitamin, collagen, men tiêu hóa,...</p>
                <img src="images/imageads.png" alt="" class="md:absolute right-0 bottom-0 md:max-w-2/3 ml-auto">
            </div>
        </div>
        <!-- List sản phẩm 5 cột -->
        <div class="grid lg:grid-cols-5 md:grid-cols-3 grid-cols-2 gap-3">
            <div class="bg-white rounded-xl p-2 text-slate-800 relative border border-gray-100 h-full pb-14">
                <!-- Sale badge -->
                <a href="">
                    <div class="absolute -top-1  z-10 left-1 bg-[url(images/icon/tag-sieusale.png)] bg-contain bg-no-repeat text-white text-xs px-2 w-[70px] h-[30px] py-1">
                        Siêu sale
                    </div>
                    <div class="relative aspect-[1/1] overflow-hidden rounded-lg">
                        <img src="images/product1.jpg" alt="Sản phẩm"
                             class="absolute inset-0 w-full h-full object-cover" />

                    </div>
                    <p class="text-sm line-clamp-2 font-medium mt-2">
                        Doppel hers - Ginkgo +
                        B-vitamin
                        +
                        Cholin
                    </p>
                    <div class="absolute bottom-2 w-full px-2 left-0">
                        <div class="text-rose-600 font-bold mt-1">185.000 đ</div>
                        <div class="flex items-center justify-between">
                            <div class="text-xs line-through text-slate-400">215.000 đ</div>
                            <div class="text-xs text-yellow-500 mt-1">
                                ★ 4.9 <span class="text-color-base">(180)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="bg-white rounded-xl p-2 text-slate-800 relative border border-gray-100 h-full pb-14">
                <!-- Sale badge -->
                <a href="">
                    <div class="absolute -top-1  z-10 left-1 bg-[url(images/icon/tag-sieusale.png)] bg-contain bg-no-repeat text-white text-xs px-2 w-[70px] h-[30px] py-1">
                        Siêu sale
                    </div>
                    <div class="relative aspect-[1/1] overflow-hidden rounded-lg">
                        <img src="images/product1.jpg" alt="Sản phẩm"
                             class="absolute inset-0 w-full h-full object-cover" />

                    </div>
                    <p class="text-sm line-clamp-2 font-medium mt-2">
                        Doppel hers - Ginkgo +
                        B-vitamin
                        +
                        Cholin
                    </p>
                    <div class="absolute bottom-2 w-full px-2 left-0">
                        <div class="text-rose-600 font-bold mt-1">185.000 đ</div>
                        <div class="flex items-center justify-between">
                            <div class="text-xs line-through text-slate-400">215.000 đ</div>
                            <div class="text-xs text-yellow-500 mt-1">
                                ★ 4.9 <span class="text-color-base">(180)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="bg-white rounded-xl p-2 text-slate-800 relative border border-gray-100 h-full pb-14">
                <!-- Sale badge -->
                <a href="">
                    <div class="absolute -top-1  z-10 left-1 bg-[url(images/icon/tag-sieusale.png)] bg-contain bg-no-repeat text-white text-xs px-2 w-[70px] h-[30px] py-1">
                        Siêu sale
                    </div>
                    <div class="relative aspect-[1/1] overflow-hidden rounded-lg">
                        <img src="images/product1.jpg" alt="Sản phẩm"
                             class="absolute inset-0 w-full h-full object-cover" />

                    </div>
                    <p class="text-sm line-clamp-2 font-medium mt-2">
                        Doppel hers - Ginkgo +
                        B-vitamin
                        +
                        Cholin
                    </p>
                    <div class="absolute bottom-2 w-full px-2 left-0">
                        <div class="text-rose-600 font-bold mt-1">185.000 đ</div>
                        <div class="flex items-center justify-between">
                            <div class="text-xs line-through text-slate-400">215.000 đ</div>
                            <div class="text-xs text-yellow-500 mt-1">
                                ★ 4.9 <span class="text-color-base">(180)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="bg-white rounded-xl p-2 text-slate-800 relative border border-gray-100 h-full pb-14">
                <!-- Sale badge -->
                <a href="">
                    <div class="absolute -top-1  z-10 left-1 bg-[url(images/icon/tag-sieusale.png)] bg-contain bg-no-repeat text-white text-xs px-2 w-[70px] h-[30px] py-1">
                        Siêu sale
                    </div>
                    <div class="relative aspect-[1/1] overflow-hidden rounded-lg">
                        <img src="images/product1.jpg" alt="Sản phẩm"
                             class="absolute inset-0 w-full h-full object-cover" />

                    </div>
                    <p class="text-sm line-clamp-2 font-medium mt-2">
                        Doppel hers - Ginkgo +
                        B-vitamin
                        +
                        Cholin
                    </p>
                    <div class="absolute bottom-2 w-full px-2 left-0">
                        <div class="text-rose-600 font-bold mt-1">185.000 đ</div>
                        <div class="flex items-center justify-between">
                            <div class="text-xs line-through text-slate-400">215.000 đ</div>
                            <div class="text-xs text-yellow-500 mt-1">
                                ★ 4.9 <span class="text-color-base">(180)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="bg-white rounded-xl p-2 text-slate-800 relative border border-gray-100 h-full pb-14">
                <!-- Sale badge -->
                <a href="">
                    <div class="absolute -top-1  z-10 left-1 bg-[url(images/icon/tag-sieusale.png)] bg-contain bg-no-repeat text-white text-xs px-2 w-[70px] h-[30px] py-1">
                        Siêu sale
                    </div>
                    <div class="relative aspect-[1/1] overflow-hidden rounded-lg">
                        <img src="images/product1.jpg" alt="Sản phẩm"
                             class="absolute inset-0 w-full h-full object-cover" />

                    </div>
                    <p class="text-sm line-clamp-2 font-medium mt-2">
                        Doppel hers - Ginkgo +
                        B-vitamin
                        +
                        Cholin
                    </p>
                    <div class="absolute bottom-2 w-full px-2 left-0">
                        <div class="text-rose-600 font-bold mt-1">185.000 đ</div>
                        <div class="flex items-center justify-between">
                            <div class="text-xs line-through text-slate-400">215.000 đ</div>
                            <div class="text-xs text-yellow-500 mt-1">
                                ★ 4.9 <span class="text-color-base">(180)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="bg-white rounded-xl p-2 text-slate-800 relative border border-gray-100 h-full pb-14">
                <!-- Sale badge -->
                <a href="">
                    <div class="absolute -top-1  z-10 left-1 bg-[url(images/icon/tag-sieusale.png)] bg-contain bg-no-repeat text-white text-xs px-2 w-[70px] h-[30px] py-1">
                        Siêu sale
                    </div>
                    <div class="relative aspect-[1/1] overflow-hidden rounded-lg">
                        <img src="images/product1.jpg" alt="Sản phẩm"
                             class="absolute inset-0 w-full h-full object-cover" />

                    </div>
                    <p class="text-sm line-clamp-2 font-medium mt-2">
                        Doppel hers - Ginkgo +
                        B-vitamin
                        +
                        Cholin
                    </p>
                    <div class="absolute bottom-2 w-full px-2 left-0">
                        <div class="text-rose-600 font-bold mt-1">185.000 đ</div>
                        <div class="flex items-center justify-between">
                            <div class="text-xs line-through text-slate-400">215.000 đ</div>
                            <div class="text-xs text-yellow-500 mt-1">
                                ★ 4.9 <span class="text-color-base">(180)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- List Thương hiệu được yêu thích -->
        <div class="my-6 md:my-10">
            <div class="flex justify-between flex-wrap gap-2 mb-3">
                <h2 class="text-sky-900 font-medium uppercase"><a href="">Blackmores</a> </h2>
              
            </div>

            <div class="h-[1px] w-full bg-gradient-to-r from-pink-500 via-purple-500 to-blue-500"></div>
            <img src="~/assets/images/banner.jpg" alt=""
                 class="rounded-tl-xl rounded-tr-xl md:rounded-tl-3xl md:rounded-tr-3xl w-full">
            <!-- List sản phẩm 5 cột -->
            <div class="grid lg:grid-cols-5 md:grid-cols-3 grid-cols-2 gap-3">
                <div class="bg-white rounded-xl p-2 text-slate-800 relative border border-gray-100 h-full pb-14">
                    <!-- Sale badge -->
                    <a href="">
                        <div class="absolute -top-1  z-10 left-1 bg-[url(images/icon/tag-sieusale.png)] bg-contain bg-no-repeat text-white text-xs px-2 w-[70px] h-[30px] py-1">
                            Siêu sale
                        </div>
                        <div class="relative aspect-[1/1] overflow-hidden rounded-lg">
                            <img src="images/product1.jpg" alt="Sản phẩm"
                                 class="absolute inset-0 w-full h-full object-cover" />

                        </div>
                        <p class="text-sm line-clamp-2 font-medium mt-2">
                            Doppel hers - Ginkgo +
                            B-vitamin
                            +
                            Cholin
                        </p>
                        <div class="absolute bottom-2 w-full px-2 left-0">
                            <div class="text-rose-600 font-bold mt-1">185.000 đ</div>
                            <div class="flex items-center justify-between">
                                <div class="text-xs line-through text-slate-400">215.000 đ</div>
                                <div class="text-xs text-yellow-500 mt-1">
                                    ★ 4.9 <span class="text-color-base">(180)</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bg-white rounded-xl p-2 text-slate-800 relative border border-gray-100 h-full pb-14">
                    <!-- Sale badge -->
                    <a href="">
                        <div class="absolute -top-1  z-10 left-1 bg-[url(images/icon/tag-sieusale.png)] bg-contain bg-no-repeat text-white text-xs px-2 w-[70px] h-[30px] py-1">
                            Siêu sale
                        </div>
                        <div class="relative aspect-[1/1] overflow-hidden rounded-lg">
                            <img src="images/product1.jpg" alt="Sản phẩm"
                                 class="absolute inset-0 w-full h-full object-cover" />

                        </div>
                        <p class="text-sm line-clamp-2 font-medium mt-2">
                            Doppel hers - Ginkgo +
                            B-vitamin
                            +
                            Cholin
                        </p>
                        <div class="absolute bottom-2 w-full px-2 left-0">
                            <div class="text-rose-600 font-bold mt-1">185.000 đ</div>
                            <div class="flex items-center justify-between">
                                <div class="text-xs line-through text-slate-400">215.000 đ</div>
                                <div class="text-xs text-yellow-500 mt-1">
                                    ★ 4.9 <span class="text-color-base">(180)</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bg-white rounded-xl p-2 text-slate-800 relative border border-gray-100 h-full pb-14">
                    <!-- Sale badge -->
                    <a href="">
                        <div class="absolute -top-1  z-10 left-1 bg-[url(images/icon/tag-sieusale.png)] bg-contain bg-no-repeat text-white text-xs px-2 w-[70px] h-[30px] py-1">
                            Siêu sale
                        </div>
                        <div class="relative aspect-[1/1] overflow-hidden rounded-lg">
                            <img src="images/product1.jpg" alt="Sản phẩm"
                                 class="absolute inset-0 w-full h-full object-cover" />

                        </div>
                        <p class="text-sm line-clamp-2 font-medium mt-2">
                            Doppel hers - Ginkgo +
                            B-vitamin
                            +
                            Cholin
                        </p>
                        <div class="absolute bottom-2 w-full px-2 left-0">
                            <div class="text-rose-600 font-bold mt-1">185.000 đ</div>
                            <div class="flex items-center justify-between">
                                <div class="text-xs line-through text-slate-400">215.000 đ</div>
                                <div class="text-xs text-yellow-500 mt-1">
                                    ★ 4.9 <span class="text-color-base">(180)</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bg-white rounded-xl p-2 text-slate-800 relative border border-gray-100 h-full pb-14">
                    <!-- Sale badge -->
                    <a href="">
                        <div class="absolute -top-1  z-10 left-1 bg-[url(images/icon/tag-sieusale.png)] bg-contain bg-no-repeat text-white text-xs px-2 w-[70px] h-[30px] py-1">
                            Siêu sale
                        </div>
                        <div class="relative aspect-[1/1] overflow-hidden rounded-lg">
                            <img src="images/product1.jpg" alt="Sản phẩm"
                                 class="absolute inset-0 w-full h-full object-cover" />

                        </div>
                        <p class="text-sm line-clamp-2 font-medium mt-2">
                            Doppel hers - Ginkgo +
                            B-vitamin
                            +
                            Cholin
                        </p>
                        <div class="absolute bottom-2 w-full px-2 left-0">
                            <div class="text-rose-600 font-bold mt-1">185.000 đ</div>
                            <div class="flex items-center justify-between">
                                <div class="text-xs line-through text-slate-400">215.000 đ</div>
                                <div class="text-xs text-yellow-500 mt-1">
                                    ★ 4.9 <span class="text-color-base">(180)</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bg-white rounded-xl p-2 text-slate-800 relative border border-gray-100 h-full pb-14">
                    <!-- Sale badge -->
                    <a href="">
                        <div class="absolute -top-1  z-10 left-1 bg-[url(images/icon/tag-sieusale.png)] bg-contain bg-no-repeat text-white text-xs px-2 w-[70px] h-[30px] py-1">
                            Siêu sale
                        </div>
                        <div class="relative aspect-[1/1] overflow-hidden rounded-lg">
                            <img src="images/product1.jpg" alt="Sản phẩm"
                                 class="absolute inset-0 w-full h-full object-cover" />

                        </div>
                        <p class="text-sm line-clamp-2 font-medium mt-2">
                            Doppel hers - Ginkgo +
                            B-vitamin
                            +
                            Cholin
                        </p>
                        <div class="absolute bottom-2 w-full px-2 left-0">
                            <div class="text-rose-600 font-bold mt-1">185.000 đ</div>
                            <div class="flex items-center justify-between">
                                <div class="text-xs line-through text-slate-400">215.000 đ</div>
                                <div class="text-xs text-yellow-500 mt-1">
                                    ★ 4.9 <span class="text-color-base">(180)</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bg-white rounded-xl p-2 text-slate-800 relative border border-gray-100 h-full pb-14">
                    <!-- Sale badge -->
                    <a href="">
                        <div class="absolute -top-1  z-10 left-1 bg-[url(images/icon/tag-sieusale.png)] bg-contain bg-no-repeat text-white text-xs px-2 w-[70px] h-[30px] py-1">
                            Siêu sale
                        </div>
                        <div class="relative aspect-[1/1] overflow-hidden rounded-lg">
                            <img src="images/product1.jpg" alt="Sản phẩm"
                                 class="absolute inset-0 w-full h-full object-cover" />

                        </div>
                        <p class="text-sm line-clamp-2 font-medium mt-2">
                            Doppel hers - Ginkgo +
                            B-vitamin
                            +
                            Cholin
                        </p>
                        <div class="absolute bottom-2 w-full px-2 left-0">
                            <div class="text-rose-600 font-bold mt-1">185.000 đ</div>
                            <div class="flex items-center justify-between">
                                <div class="text-xs line-through text-slate-400">215.000 đ</div>
                                <div class="text-xs text-yellow-500 mt-1">
                                    ★ 4.9 <span class="text-color-base">(180)</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
     
    </div>

</section>